# Apply to all files without commiting:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: destroyed-symlinks
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: _data/comedians.json
    -   id: trailing-whitespace
    -   id: mixed-line-ending
#-   repo: https://github.com/pre-commit/mirrors-eslint
#    rev: ''  # Use the sha / tag you want to point at
#    hooks:
#    -   id: eslint
#        args: ['--fix']
#        exclude: assets/js/github.js
