<div class="container">
  <div class="home-section-header">
    <div class="home-section-content_top">
      <div class="row">
        <div class="col-12">
          <h2 class="header-color-darkenred pb-3">25年秋季游园、马年春晚 火热筹备中</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <p class="custom-text-style"> <b>游园: </b>2025年11月02日 West Valley College</p>
          <p class="custom-text-style"> <b>志愿者、摊位、赞助商招募中</b></p>
          <a class="button_r list-item-button text-center" href="https://zgzg.li/2025f-yy-signup?zgzg-io">{{ "游园报名" }}</a>
        </div>
        <div class="col-md-6 p-3">
          <p class="custom-text-style"> <b>春节晚会: </b> 2026年1月 南湾</p>
          <p class="custom-text-style"> <b>志愿者招募中</b></p>
          <a class="button_r list-item-button text-center" href="https://zgzg.li/2026-volunteer-signup?zgzg-io">{{ "春晚报名" }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
