<div class="container">
  <div class="home-section-header">
    <div class="home-section-content_top">
      <div class="row">
        <div class="col-12">
          <h2 class="header-color-darkenred pb-3">2026“载歌在谷”马年春晚🔥筹备中</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <p class="custom-text-style"> <b>春节晚会: </b> 2026年2月14日 SJCPA</p>
          <p class="custom-text-style"> <b>早鸟票售卖</b></p>
          <a class="button_r list-item-button text-center" href="https://zgzg.li/2026-ticket-website">{{ "购票链接" }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
