<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>演出：</strong><a href="https://calendar.google.com/calendar/ical/c_ic3mlci1unu514ht9lun3dpjvs%40group.calendar.google.com/public/basic.ics">每周五 8-9 PM（PT）（公共假期前除外）</a></div>
    <div class="call-email"><strong>地点：</strong><a href="https://goo.gl/maps/jX5B63r57Z4FgiDE7">10268 Bandley Dr #107, Cupertino, CA 95014</a>
    </div>
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="/donation/" class="button">购票</a>
      </div>
    {% endif %}
</div>
