<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>{{ include.labels.performance }}</strong><a href="https://calendar.google.com/calendar/ical/c_ic3mlci1unu514ht9lun3dpjvs%40group.calendar.google.com/public/basic.ics">{{ include.labels.time }}</a>{{ include.labels.except-holidays }}</div>
    <div class="call-email"><strong>{{ include.labels.location }}</strong><a href="https://maps.app.goo.gl/A4yt42ntVHopxHqy5">6148 Bollinger Rd, San Jose, CA 95129</a>
    </div>
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="/tickets/" class="primary button">{{ include.labels.buy-tickets }}</a>
      </div>
    {% endif %}
</div>
