<div class="container">
    <div class="home-section-header">
        <div class="home-section-content_top">
            <div id="eventInfo">
                <div class="col">
                    <h2 class="header-color-darkenred pb-3">2025 载歌在谷 春晚</h2>
                    <p class="custom-text-style"> <b>日期: </b> 2025年02月01日</p>
                    <!-- <p class="custom-text-style"> <b>演出时间:</b> 9:00 AM - 5:00 PM</p> -->
                    <p class="custom-text-style"> <b>地点: </b> Foothill College Smithwick Theater</p>
                    <p class="custom-text-style"> <b>地址: </b> 12345 El Monte Rd, Los Altos Hills, CA 94022</p>
                   
                    <p class="custom-text-style"> <b>WeChat公众号:</b> 载歌在谷</p>
                </div>
                 
                <div class="col_2">
                    <h2 class="header-color-darkenred pb-3"></h2>
                    <a class="button_w list-item-button text-center" href="/gala">{{ "查看详情" }}</a>

                    <a class="button_r list-item-button text-center" href="{{.site.data.data.gala_ticket_link}}">{{ "春晚购票" }}</a>
                </div>
               
            </div>
        </div>
    </div>
</div>
