<div class="container">
    <div class="home-section-header">
        <div class="home-section-content_top">
            <div id="eventInfo">
                <div class="col">
                    <h2 class="header-color-darkenred pb-3">2025 载歌在谷 歌手赛</h2>
                    <h3>「我最闪亮」成人组</h3>
                    <p class="custom-text-style"> <b>复赛: </b> 2025年5月24日</p>
                    <!-- <p class="custom-text-style"> <b>演出时间:</b> 9:00 AM - 5:00 PM</p> -->
                    <p class="custom-text-style"> <b>地点: </b> Starbright Theater, Campbell, CA</p>
                    <p class="custom-text-style"> <b>决赛: </b> 2025年7月19日</p>
                    <p class="custom-text-style"> <b>地点: </b> Hammer Theater, San Jose, CA</p>
                    <h3>「童星闪耀」青年组</h3>
                    <p class="custom-text-style"> <b>决赛: </b> 2025年5月25日</p>
                    <p class="custom-text-style"> <b>地点: </b> Starbright Theater, Campbell, CA</p>
                    <p class="custom-text-style"> <b>WeChat公众号:</b> 载歌在谷</p>
                </div>
                 
                <div class="col_2">
                    <h2 class="header-color-darkenred pb-3"></h2>
                    <a class="button_w list-item-button text-center" href="/singer">{{ "查看详情" }}</a>

                    <a class="button_r list-item-button text-center" href="/ticket/singer-ticket">{{ "购票链接" }}</a>
                </div>
               
            </div>
        </div>
    </div>
</div>
