<div class="footer py-2 py-md-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <a href="/"><img alt="载歌在谷" src="https://i.imgur.com/MjhmkRS.png" /></a>
                </div>
                <!-- Begin Mailchimp Signup Form -->
                <div class="row">
                    <img id="envelope" src="/images/envelope.svg" />
                    <label for="mce-EMAIL"> 订阅邮件，获取最新活动资讯！</label>
                </div>
                <div class="row" id="mc-embed-signup">
                    <form action="https://zgzg.us8.list-manage.com/subscribe/post?u=950d5d29a24ced3fd75514828&amp;id=e7addb4cae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc-embed-signup-scroll" class="d-flex">
                            <input class="flex-grow-1" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e.g.，email@example.com" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_950d5d29a24ced3fd75514828_e7addb4cae" tabindex="-1" value="">
                            </div>
                            <div id="sub-button" class="button">
                                <a id="eventbrite" href="https://zgzg.us8.list-manage.com/subscribe/post?u=950d5d29a24ced3fd75514828&id=e7addb4cae" style="color:white;" target="_blank">订阅</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            © 2021 《载歌在谷》版权所有。<br />
                            《载歌在谷》由 <a href="https://www.cb-t.org/">Community Builder Toolbox, Inc.</a> （一个注册在美国加利福尼亚州的<a href="https://www.irs.gov/charities-non-profits/charitable-organizations/exemption-requirements-501c3-organizations">501(c)(3) 非营利组织</a>）承办。
                        </p>
                        <p>
                            ZaiGeZaiGu Community is supported and fiscally sponsored by <a href="https://cb-t.org/">Community Builder Toolbox, Inc.</a>, a California registered nonprofit recognized by United States IRS as <a href="https://www.irs.gov/charities-non-profits/charitable-organizations/exemption-requirements-501c3-organizations"> 501(c)(3) public charity</a>.<br />
                            Find our <a href="https://www.cb-t.org/files/501c3-letter-2019.pdf">501c3 status letter</a>, or <a href="https://www.cb-t.org/files/2019-W9.pdf"> W-9 form</a> at <a href="https://cb-t.org/">cb-t.org</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="footer-icon py-1 pt-md-2">
                    <!-- wechat icon -->
                    <a href="https://mp.weixin.qq.com/s/MQrUzT-XkxsRdRQQRpb4Fw">
                        <img src="/images/social/wechat.svg" />
                    </a>
                    <a href="https://www.xiaohongshu.com/user/profile/6056e0a4000000000100180a?xhsshare=CopyLink&appuid=5dd45355000000000100bfb8&apptime=1670394983">
                        <img src="/images/social/xhs.svg" />
                    </a>
                    <a href="https://www.weibo.com/zgzggala">
                        <img src="/images/social/weibo.svg" />
                    </a>
                    <a href="https://www.facebook.com/zaigezaigu/">
                        <img src="/images/social/facebook.svg" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCY7-f7HBl8kvmoGtQX4TGUg">
                        <img src="/images/social/youtube.svg" />
                    </a>
                    <a href="https://www.instagram.com/zaigezaigu/">
                        <img src="/images/social/instagram.svg" />
                    </a>
                </div>
                <div class="footer-link">
                    <li>
                        <a href="/gala/">春节晚会</a>
                    </li>
                    <li>
                        <a href="/singer/">歌手赛</a>
                    </li>
                    <li>
                        <a href="/tour/">游园会</a>
                    </li>
                    <li>
                        <a href="/yj/">云集栏目</a>
                    </li>
                    <li>
                        <a href="https://mp.weixin.qq.com/s/BzpzveTu9Uyzw9j3c1Nmpg">赞助招商</a>
                    </li>
                    <li>
                        <a href="/past-events/">往届回顾</a>
                    </li>
                    <li>
                        <a href="/go/">常用链接</a>
                    </li>
                    <li>
                        <a href="/join/">加入团队</a>
                    </li>
                    <li>
                        <a href="/about/">关于我们</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
