<div id="galalist-space">
<div class="container">
    <img src="https://res.cloudinary.com/zaigezaigu/image/upload/v1641779415/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/gala-1_dppg8y.png" id="galalist-pic-beginning">
    <div class="row">
        {% for pic in site.data.data.galalist %}
        <div class="col-6 col-lg-12 col-md-4">
                <div><img class="galalist-pic"  src="{{ pic.image }}">
                    <h3> {{ pic.title }} </h3>
                    {{ pic.description }}
                </div>
        </div>
        {% endfor %}
    </div>
    <img  src="https://res.cloudinary.com/zaigezaigu/image/upload/v1641758145/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/gala-end_me2x6j.gif">
</div>
</div>
