<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>PreParty狂欢夜</strong></div>
    <div class="call-phone">时间：2023年10月13日，20:00-22:00</div>
    <div class="call-email">地点：Tabard Theatre</div>
    <div class="call-email">　　　29 N San Pedro St, San Jose, CA 95110</div>
    <div class="call-phone">------------------------------</div>
    <div class="call-phone"><strong>泛喜剧专场</strong></div>
    <div class="call-phone">时间：2023年10月15日，15:00-17:00</div>
    <div class="call-email">地点：Cubberley Theatre</div>
    <div class="call-email">　　　4120 Middlefield Rd, Palo Alto, CA 94306</div>
    <div class="call-phone">------------------------------</div>
    <div class="call-phone"><strong>脱口秀专场</strong></div>
    <div class="call-phone">时间：2023年10月15日，19:00-21:00</div>
    <div class="call-email">地点：Cubberley Theatre</div>
    <div class="call-email">　　　4120 Middlefield Rd, Palo Alto, CA 94306</div>
  </div>
    <div class="call-box-bottom">
      <a href="https://www.eventbrite.com/e/718346121587" class="primary button">购票</a>
    </div>
</div>
