<div class="col-12 col-md-6 col-lg-6 mb-5">
  <div class="card-custom large-card">
    {% if programme.image %}
      <div class="card-image large-card-image"><img alt="{{ programme.name }}" src="{{ programme.image }}" /></div>
    {% endif %}
    <h2 class="card-title large-card-title">{{ programme.name }}</h2>
    <div class="card-content large-card-content">
      <p class="card-description">{{ programme.description }}</p>
      {% if programme.button-text %}
        <div class="d-flex justify-content-center">
          <a class="button large-card-link" href="{{ programme.button-url }}">{{ programme.button-text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
