<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.data.main %}
  <ul class="nav nav-pills">
      {% for item in mainmenu %}
        {% if item.url %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url | relative_url }}" >{{ item.name }}</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Dropdown</a>
            <ul class="dropdown-menu">
              {% for subitem in item.items %}
                <li>
                  <a class="dropdown-item" href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
