<div class="col-12 col-md-6 col-lg-4">
  <div class="programme">
    {% if programme.image %}
      <div class="programme-image">
        <img alt="{{ programme.name }}" src="{{ programme.image }}" />
      </div>
    {% endif %}
    <h2 class="programme-title">{{ programme.name }}</h2>
    <div class="programme-content">
      <p class="programme-description">{{ programme.description }}</p>
      {% if programme.contact.size > 0 %}
        <ul class="programme-contact">
        {% for contact in programme.contact %}
          <li>{{ contact | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if programme.highlights.size > 0 %}
        <ul class="programme-highlights">
        {% for highlight in programme.highlights %}
          <li>{{ highlight | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if programme.button-text %}
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary btn-md" href="{{ programme.button-url }}">{{ programme.button-text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
