<div id="galalist-space">
    <div class="container">
        <div class="row">
            <img src="https://res.cloudinary.com/zaigezaigu/image/upload/c_scale,w_500/v1641779415/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/gala-1_dppg8y.png" id="galalist-pic-beginning">
        </div>
        <div class="row">
            {% for pic in site.data.data.singerlist %}
            <div class="col-12 col-lg-12 col-md-4 galalist-section">
                <img class="galalist-pic" src="{{ pic.image }}">
                <h3> {{ pic.title }} </h3>
                {{ pic.description }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
