<div id="gala-sponsors">
    {% if site.data.data.sponsors.diamond %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">钻石赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.diamond %}
                <div class="col-6 col-lg-4 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.platinum %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">白金赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.platinum %}
                <div class="col-6 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.gold %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">金牌赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.gold %}
                <div class="col-6 col-lg-3 mb-1 gold-sponsor">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.food %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">餐饮赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.food %}
                <div id="last-row-partners" class="col-6 col-lg-3 mb-1 food-sponsor">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.media %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">媒体合作</h2>
            <div class="row">
                <div class="col-12 col-lg-9 mb-1">
                    <img
                        src="https://res.cloudinary.com/zaigezaigu/image/upload/v1639120586/zgzg-io-website/%E6%A8%AA%E7%89%88_gptbss.png" />
                    <div class="mb-1 sponsor-description">
                        星島日報於 1938 年在香港創報,是服務全球華人的中文媒體領導者。1975
                        年,星島在美國三藩市設立第一間國際分社,隨後陸續在美國紐約、洛杉磯,加拿大溫哥華、多倫多開設分社。星島成為全球發行的中文報章。
                    </div>
                </div>
            </div>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.media %}
                <div id="last-row-partners" class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.others %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">合作伙伴</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.others %}
                <div id="last-row-partners" class="col-4 col-lg-3 mb-1 partner-sponsor">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
