<div id="gala-sponsors" class="container">
    <!-- sponsor heading, such as 2022 歌手赛赞助商 -->
    {% if sponsor_type.sponsor-heading %}
        <div class="row">
            <div class="col">
                <h1 class="gala-heading">{{sponsor_type.sponsor-heading}}</h1>
            </div>
        </div>
    {% endif %}
    <!-- end sponsor heading -->
    <!-- sponsors by level, such as 白金赞助 -->
    {% for sponsor_level in sponsor_type.sponsor-levels %}
        {% if sponsor_level.sponsor-elements %}
        <div class="row">
            <div class="col home-section-header pt-9" >
                <!-- sponsor level heading, such as the text 白金赞助 or 虚位以待 -->
                <div class="row">
                    <div class="col pb-3 text-center">
                        <h1 class="underline">{{sponsor_level.level-heading}}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% if sponsor_level.level-name == "food" or sponsor_level.level-name == "others" %}
            <div class="row">
                {% for sponsor_e in sponsor_level.sponsor-elements %}
                    <div id="{{sponsor_level.elements-div-style-id}}" class="{{sponsor_level.elements-div-style-class}}">
                        {% assign sponsor = sponsor_e %}
                        {% include sponsor.html %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                {% for sponsor_e in sponsor_level.sponsor-elements %}
                    <!-- assigns sponsor_e to sponsor to make the naming in sponsor.html less verbose -->
                    {% assign sponsor = sponsor_e %}
                        {% if sponsor_level.level-name == "media" %}
                            <div id="{{sponsor_level.elements-div-style-id}}" class="{{sponsor_level.elements-div-style-class}}">
                            {% include sponsor-image-without-link-low-padding.html %}<br>
                            </div>
                        {% else %}
                            <div>
                            {% include sponsor-long.html %}
                            </div>
                        {% endif %}

                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% endfor %}
    <!-- end sponsors by level -->
</div>
