<div id="gala-sponsors">
    {% if site.data.data.sponsors.diamond %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">钻石赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.diamond %}
                <div class="col-6 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.platinum %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">白金赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.platinum %}
                <div class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.gold %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">金牌赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.gold %}
                <div class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.food %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">餐饮赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.food %}
                <div id="last-row-partners" class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.partners %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">媒体合作</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.partners %}
                <div id="last-row-partners" class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if site.data.data.sponsors.teambond %}
    <div class="row">
        <div class="container">
            <h2 class="gala-heading">团建赞助</h2>
            <div class="row">
                {% for sponsor in site.data.data.sponsors.teambond %}
                <div id="last-row-partners" class="col-4 col-lg-3 mb-1">
                    {% include sponsor.html %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>