<div class="sponsor">
    {% if sponsor.image %}
    <div class="sponsor-image-low-padding">
            <img alt="{{ sponsor.name }}" src="{{ sponsor.image }}" />
        </a>
    </div>
    {% endif %}
    <div class="sponsor-content">
        {% if sponsor.contact.size > 0 %}
        {% for contact in sponsor.contact %}
        {{ contact | markdownify }}
        {% endfor %}
        {% endif %}
    </div>
    <div class="sponsor-description mt-1">
        {% if sponsor.description %}
        {{sponsor.description}}
        {% endif %}
    </div>
    <div class="sponsor-contact mt-1">
        <p class='mb-0'>
            {% if sponsor.phone %}
            {{sponsor.phone}}
            {% endif %}
        </p>
        <p class='mb-0'>
            {% if sponsor.email %}
            {{sponsor.email}}
            {% endif %}
        </p>
        <p class='mb-0'>
            {% if sponsor.website-name %}
            <a href={{sponsor.website}}>{{sponsor.website-name}}</a>
            {% elsif sponsor.website %}
            <a href={{sponsor.website}}>{{sponsor.website}}</a>
            {% endif %}
        </p>
        <p class='mb-0'>
            {% if sponsor.other %}
            {{sponsor.other}}
            {% endif %}
        </p>
    </div>
</div>
