<!-- <div class="hero px-0 py-10 p-md-8 p-lg-10 sponsorship-image">
    <div class="hero-content col-lg-6 col-10">
        <h1>诚邀招商：</h1>
        <p>你是不是觉得，2020 - 2022年是隐没的两年？作为商家，你是不是苦于没有曝光，流量不足？酒香也怕巷子深。在此，“载歌在谷”携各位热情的志愿者小伙伴们，郑重推出2023年线下兔年春晚及游园活动！正在进行时，诚邀您的参加！</p>
        <div id="hero-divider"></div>
        <p>联系我们：sponsor-gala@zgzg.io</p>
    </div>
</div> -->

<div class="row alert alert-success text-center mb-0 rounded-0" role="alert">
    <h4>2023载歌在谷夏季歌手赛及中秋游园会火热招商中 <a href="/sponsorship/" class="alert-link">查看详情</a></h4>
</div>
