<div class="sponsor-card">
    {% if sponsor.image %}
    <div>
        {% if sponsor.website %}
            <a href="{{ sponsor.website }}">
                <img class="sponsor-card-image" alt="{{ sponsor.name }}" src="{{ sponsor.image }}" />
            </a>
        {% else %}
            <img class="sponsor-card-image" alt="{{ sponsor.name }}" src="{{ sponsor.image }}" />
        {% endif %}
    </div>
    {% endif %}
    <div class="sponsor-card-name">
        {% if sponsor.name %}
        {{sponsor.name}}
        {% endif %}
    </div>
    <div class="sponsor-card-content mt-1">
        {% if sponsor.description %}
        {{sponsor.description}}
        {% endif %}
    </div>
</div>
