<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          <div class="copyright">
            © 2021 《载歌在谷》版权所有。
            《载歌在谷》由 <a href="https://www.cb-t.org/">Community Builder Toolbox, Inc.</a> （一个注册在美国加利福尼亚州的<a href="https://www.irs.gov/charities-non-profits/charitable-organizations/exemption-requirements-501c3-organizations">501(c)(3) 非营利组织</a>）承办。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
