#rainbow {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  height: 43px;
  font-size: 16px;
  color: #AA336A;
}

#rainbow:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.page-home {
}

.sponsor-image, .friend-image {
	line-height: 100px;
}

.friend-image {
    width: 100%;
    aspect-ratio: 1;
    padding: 1.5em;
}

.friend-image img {
    width: 100%;
    aspect-ratio: 1;
}

.sponsor-image > img, .friend-image > img {
	vertical-align: text-bottom;
}

.home-button {
    margin-top: 10px;
}

.fit-width {
   max-width:100%;
}

#calendar {
    width: 100%;
    max-width: 550px;
    height: 200px;
}

#youtube {
    width: 100%;
    max-width: 550px;
}

iframe {
    border: none;
    width: 100%;
    height: 400px;
}

#about {
    background: url(https://res.cloudinary.com/xinbenlv/image/upload/v1630469810/zgzg/front-page_about-photo.png);
    height: 400px;
    background-size: cover;
}

nav ul {
    list-style-type: none;
}
nav li {
    line-height: 30px;
}
nav a {
    text-decoration: none;
}
nav li.active a {
    color: #ffffff;
}
