.page-home {
}

.sponsor-image {
	line-height: 100px;
}

.sponsor-image > img {
	vertical-align: text-bottom;
}

#calendar {
    border: none;
    width: 100%;
    max-width: 425px;
    height: 200px;
}