---
# this ensures Jekyll reads the file to be transformed into CSS later
---

// Colors
$primary: rgba(193,32,40,255);
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #fff6f8;
$light: #fff6f8;
$steel: #5C5A5A;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Playfair Display', serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/utilities';
@import 'bootstrap/card';
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library


// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/intro-image';
@import 'components/strip';
@import 'components/programme';
@import 'components/special_event';
@import 'components/social';

// Pages
@import 'pages/home';

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

#detailed-info {
  font-size:1.2em;
  color:white;
  text-decoration:underline;
  padding: 1.25rem 2rem 1.25rem 0
}

.primary-background {
  background-color:$primary;
  color:$white;
}

.primary-text {
  color:$primary;
  background-color:$white
}

#gala-sponsors>div:nth-child(odd) {
  background-color:$light
}

.section {
  max-width:960px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

#sidebar > .footnotes > ol > li {
	background: white;
}

#join {
  display: contents;
  .programme {
    box-shadow: none;
    border: #ccc dashed 5px;
    .programme-image {
      line-height: 250px;
      font-size: 10em;
      border-radius: 0;
      color: #aaa;
      width: auto;
    }
  }
}

#join:hover {
  text-decoration: none;
  .programme {
    background: #eee;
  }
}

img {
  width:100%;
}

#warning {
   border: 1px solid;
   padding: 0.5em;
}

.event {
   background-image: url(https://blog.zgzg.io/wp-content/uploads/circel.png), url(http://blog.zgzg.io/wp-content/uploads/line2.png);
   background-repeat: no-repeat, no-repeat;
   background-position-x: 0, 12px;
   background-position-y: 0, 30px;
   padding-left:25px;
   margin-bottom:15px;
  }

.event-metadata h2 {
  margin-top:0px;
}

.event img {
  margin: 0px;
}

.event li {
  margin-top:10px;
  margin-bottom:10px;
}

#ticket-banner, #tour-banner {
  background-color: rgba(193,32,40,255) !important;
  color:white;
  background-position:left 0px center;
}

#prize {
    width: 200px !important;
    margin: 20px 0 0 20px;
}

[id^="eventbrite-widget-container"] iframe{
  height:100%;
}

img.galalist-pic {
    width: 30%;
    float: left;
    margin:10px 20px 30px 20px;
}

@media screen and (min-width: 767px) {
  #ticket-banner .container {
    background-image:url(https://res.cloudinary.com/zaigezaigu/image/upload/v1640497467/girls_sue1pz.png);
    background-repeat: no-repeat;
    margin: 0 auto 0 auto;
    min-height:420px;
    padding-top:40px;
    padding-bottom:5px;
    background-position:right;
    max-width:1100px
  }

  #tour-banner .container {
    background-image:url(https://res.cloudinary.com/zaigezaigu/image/upload/v1639618313/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/fairshow_rw4bsj.png);
    background-repeat: no-repeat;
    background-position:right;
    margin: 0 auto 0 auto;
    min-height:450px;
    padding-top:45px;
    max-width:1100px;
    background-size: 100%;
  }

  #ticket-poster, #tour-map {
     padding: 40px 20px 60px;
  }
  #tour-map {
     max-width: 1140px;
  }
  #tour-div {
     text-align: center;
  }
  #last-row-partners {
  padding: 30px;
  }
}

#ticket-button-gala {
  width:50%;
  margin:40px auto 0;
}

@media (max-width: 767px) {
  h1 {
    margin-top: 30px;
  }

  #ticket-banner.container {
    margin: 0 auto 0 auto;
    min-height:400px;
    padding-top:35px;
    background-size: 120%;
  }

  #tour-banner.container {
    margin: 0 auto 0 auto;
    min-height:400px;
    padding-top:35px;
    background-size: 120%;
  }

  #ticket-poster {
    padding: 100px 1px 40px;
  }

  #tour-map {
    padding: 40px 5px 20px;
  }

  #last-row-partners {
    padding: 20px;
  }
}

#ticket-banner p{
  color:white;
}

#tour-banner p{
  color:white;
}

#tour-banner p{
  color:white;
}

#ticket-banner img{
  width: 80px;
}

#ticket-banner #red-packet {
  width: 55px;
  height: 80px;
}

img#red-packet {
    border: 1px solid #fff;
}

.float-left.mr-1 {
  margin-top: 5px;
}

#yj-img {
  width: 130px
}

iframe.monthly-src {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: block;
}
// 春晚页面
h2.gala-heading {
  margin: 30px 0 20px 0;
}

#gala-banner {
  background-color: rgba(193,32,40,255) !important;
  color:white;
  background-position:left 0px center;
}

#gala-banner .container {
  background-image:url(https://res.cloudinary.com/zaigezaigu/image/upload/v1637381379/zgzg-io-website/front-page-1280x712_ueloj5.png);
  background-position:-150px;
  background-repeat:no-repeat;
  margin: 0 auto 0 auto;
  min-height:550px;
  padding-top:50px;
}

#gala-banner p{
  color:white;
}

.sponsor img {
  width:90%;
  max-height: 500px;
}

.rainbow-letters {
  font-weight: bold;
  font-size: medium;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green);
  background: -o-linear-gradient(right, orange, yellow, green);
  background: -moz-linear-gradient(right, orange, yellow, green);
  background: linear-gradient(to right, orange , yellow, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ticket-sell {
  font-size: medium;
}

#eventbrite {
  color: $primary;
}

.title-font {
  color: $primary;
}

#faq p:nth-child(odd){
  font-weight: bold;
}

#eb-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1vh 1vw 1vh 1vw;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#buy-button {
  margin:10px auto;
  display:block;
  width:200px;
  font-size:2em;
  height:auto;
  text-align:center;
  padding: 0.5em;
  cursor: pointer;
}

#close-overlay {
  z-index: 100;
  position: absolute;
  right: 1vw;
  top: 1vw;
  width:3vw;
  min-width:40px;
  height:3vw;
  min-height:40px;
  background-color: white;
  border-radius:50%;
  border: 1px solid gray;
}
