.card-custom {
  border-radius: 16px;
  overflow: hidden;
  background-color: $white-offset;
  display: flex;
  flex-direction: column;
  text-align: left;
  left: 16px;
  top: 16px;
  align-items: flex-start;
  padding: 0px;
  margin: auto;
  .card-image {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .card-title {
    margin-bottom: 0px;
    text-align: center;
    height: 36px;
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .card-description {
    padding: 0 30px;
    height: 78px;
    display: inline-block;
  }
  .card-content {
    background-color: $white-offset;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-position: inside;
    box-sizing: border-box;
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    color: $black;
    flex: none;
    order: 1;
    align-self: stretch;
    align-items: center;
  }
}

// For `.large-card`, see `.programme`.

.small-card {
  width: 320px;
  height: 436px;
  .small-card-image {
    width: 320px;
    height: 160px;
  }
  .small-card-title {
    color: $primary;
  }
  .small-card-content {
    font-size: 20px;
    line-height: 32px;
    flex-grow: 1;
  }
}
