.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  padding-top: 15px;
  p, p > a {
    color: $white-offset;
  }

  .footer-inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(sm) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-title {
    color: #fff;
    font-family: $font-family-heading;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      color: $footer-text-color;
      font-size: 1rem;
      a {
        color: $footer-text-color;
        display: block;
        padding: 12px 14px 12px 0;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      align-items: center;
      display: flex;
      height: inherit;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }

        a {
          display: inline-block;
          height: 40px;
          padding: 10px 8px 10px 8px;
        }
      }
    }
  }
}
