.hero {
  background-image: url(https://res.cloudinary.com/zaigezaigu/image/upload/v1665641160/cld-sample-2.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.hero-content {
  margin-left: 160px;
  margin-right: 720px;
  color: $white;

  p {
    color: $white;
    a {
      color: $white;
    }
  }

  @media (max-width: 1199.98px) {
    margin: auto 32px auto 32px;

    h1 {
      font-size: 36px;
    }
  }

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    a {
      color: $white;
    }
  }

  h2 {
    margin: 24px 0 0 0;
    font-weight: 700;
    font-size: 20px;
    a {
      color: $white;
    }
  }

  button {
    margin-top: 48px;
  }

  #hero-divider {
    margin: 32px 0 0 0;
    border-bottom: 4px solid $white;
  }

  h3 {
    margin: 32px 0 0 0;
    font-weight: 700;
    font-size: 20px;
  }
}

.hero-short {
  height: 480px;

  @media (max-width: 1199.98px) {
    height: 320px;
  }
}

.hero-long {
  height: 720px;

  @media (max-width: 1199.98px) {
    height: 480px;
  }
}

.hero-galatour {
  background-image: url(https://res.cloudinary.com/zaigezaigu/image/upload/v1670294545/zgzg-io-website/2023-%E6%98%A5%E6%99%9A%E6%B8%B8%E5%9B%AD/%E9%A6%96%E9%A1%B5%E8%83%8C%E6%99%AF/%E9%A6%96%E9%A1%B5%E8%83%8C%E6%99%AF_fjuk1m.png);
}
