.intro {
  background: url(https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1638942437/zgzg-io-website/WechatIMG869_k2uxam.jpg);
  color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
    margin: 30px 10px 15px 0;
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 30px 0 15px 0;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $white;
  }
  a {
    color: $white-offset;
    font: caption;
  }
  .button {
  background: #fff;
  color: #ec464f;
  }

  #content {
    padding: 45px;
    background: $primary;

    img {
      width: 150px;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
