.intro-image {
  width: 100%;
  height: auto;
}
.limit-height {
  max-height: 300px;
}
.intro-image-absolute {
  max-height:100%;
  max-width:100%;
  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    width: 700px;
  }
  @include media-breakpoint-up(lg) {
    width: 800px;
  }
  @include media-breakpoint-up(xl) {
    width: 850px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
