.intro {
  align-items: center;
  background: url('https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1638942437/zgzg-io-website/WechatIMG869_k2uxam.jpg');
  background-position: center;
  background-size: cover;
  color: $white;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  h2 {
    font-family: $font-family-base;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 12px;
  }

  p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 26px;
  }

  #content {
    background: $primary;
    opacity: .9
  }
}

.home-section-header {
  font-size: 20px;
  font-style: normal;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  .divider {
    margin: auto;
    width: 80px;
  }

  hr {
    background-color: $primary;
    height: 4px;
    margin: auto;
    opacity: 1;
    width: 80px;
  }

  p {
    color: black;
    line-height: 32px;
  }

  .home-section-content {
    margin: auto;
    width: 60%;
  }
}

.pb-large {
  margin-bottom: 120px;
  margin-top: 120px;
}

.pb-small {
  margin-top: 120px;
}

// only use for 2023 Singing Contest home page info, will remove when event end
.content-singer-background {
  background-image: linear-gradient(#4c6c36, #263b17)!important; // overrides #content background color
}
