.list-item-image {
  background-size: cover;
  background-position: center;
}

.list-item-large {
  border-radius: 16px;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;

  .list-item-image {
    display: block;
    height: 360px;
    width: 360px;
  }
  .list-item-content {
    margin: 16px 48px;
  }
}
