.list-item-image {
  background-size: cover;
  background-position: center;
  display: block;
}
.list-item-rounded {
  border-radius: 16px;
}

.list-item-image.square {
  height: 360px;
  width: 360px;
}
.list-item-large {
  overflow: hidden;
  width: 100%;
  hr.list-item-bar {
    width: 80px;
    height: 4px;
    margin: 0px;
    background-color: $primary;
    opacity: 1;
  }
  hr + p {
    margin-top: 4px;
    margin-bottom: 20px;
  }
  .list-item-content * {
    color: #1F1415;
  }
  .list-item-content h3, .list-item-content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }
  .list-item-content p, .list-item-content ul {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .list-item-button {
    width: 144px;
    height: 56px;
    color: $white;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
