.programme {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  background-color: $white-offset;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  .programme-image {
    width: 100%;
    height: 250px;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .programme-title {
    color: $black;
    margin-bottom: 20px;
    text-align: center;
  }

  .programme-description,
  .programme-title,.programme-contact,
  .programme-highlights {
    padding: 0 30px;
    width: 100%;
    display: inline-block;
  }
  .programme-contact {
    background-color: $white-offset;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-position: inside;
    box-sizing: border-box;
  }
  .programme-highlights {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-position: inside;
    box-sizing: border-box;
  }
}

#concluded-programmes .programme {
  .programme-title {
    color: #888;
  }
}

#more-programmes {
  width: fit-content;
  display: flex;
  margin: 20px auto 20px auto;
}
