.programme {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  box-shadow: 0 30px 60px -10px rgba(black, .2), 0 18px 36px -18px rgba(black, .22);
  .programme-image {
    width: 100%;
    height: 250px;
    display: flex;
    border-radius: 0 0 0 100%;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .programme-title {
    color: #555;
    margin-bottom: 20px;
  }
  .programme-description, .programme-contact, .programme-highlights {
    padding: 0 30px;
    width: 100%;
    display: inline-block;
  }
  .programme-contact {
    background-color: $white-offset;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-position: inside;
    box-sizing: border-box;
  }
  .programme-highlights {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-position: inside;
    box-sizing: border-box;
  }
}

#concluded-programmes .programme {
  box-shadow: 0 10px 20px -3px rgba(black, .2), 0 6px 12px -6px rgba(black, .22);
  .programme-title {
    color: #888;
  }
}