.sub-footer {
  background: $footer-background-color;
  color: $sub-footer-text-color;
  padding-bottom: 15px;
  @include media-breakpoint-up(md) {
    padding-bottom: 10px;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  .copyright {
    width: 568px;
    height: 156px;
    left: 160px;
    top: 298px;
    font-family: 'Noto Sans SC', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #F5F5F5;
    a {
      font-weight: bold;
      color: inherit;
    }
  }
  .social {
    a:first-of-type {
      margin-left: -10px;
    }
  }
}
