---
layout: default
bodyClass: page-comedian-list
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if site.data.comedians %}
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
    {% assign comedians = site.data.comedians | sort: "weight" | reverse %}
    {% for comedian in site.data.comedians %}
      {% include comedian.html comedian=comedian %}
    {% endfor %}
    <a href="/become/" id="join">
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="person">
            <div class="person-image">
              +
            </div>
          <h2 class="person-title">参与演出</h2>
          <div class="person-content">
            <p class="person-description">在我们的开放麦上表演您的段子！</p>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>
{% endif %}
