---
title: Index
layout: default
bodyClass: page-home
---
<div class="intro">
    <div class="container-fluid">
      {% include sponsor-ad-banner.html  slogan="2025 ZGZG Gala is grandly being prepared!" linkInfo=" now open for sponsorship opportunities"%}
      
  
    </div>
    <!-- <div class="row justify-content-end p-0 py-md-3 py-md-8"> 
      <div id="content" class="col-12 col-md-7 col-lg-5 p-3 p-md-3 p-lg-6 content-singer-background">
        <h2>2025 ZGZG Gala in Preparation!</h2>
        <p class="mb-1 mt-2">
          The most festive and entertaining Singing Contest in the Bay Area is about to kick off an amazing completion!<br>
      </p>
      <p>
          Not only will there be exciting performances, but also the chance for you to become the star of the stage!<br><br>
          Performance Date: July 13, 2024<br>
      </p> -->
        <!-- <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px">
          <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end; gap: 5px 10px;">
            <a target="_blank" href="http://zgzg.link/2023s-signup">
              <button type="button" class="btn btn-light btn-primary btn-sm btn-singer">Adult Group</button>
            </a>
            <a target="_blank" href="http://zgzg.link/2023s-signup">
              <button type="button" class="btn btn-light btn-primary btn-sm btn-singer">Children Group</button>
            </a>
          </div>
        </div> -->
      <!-- </div> -->

    </div>
  </div>
</div>

<div class="strip mt-5">
  <div class="container">
    <div class="home-section-header">
      <div class="home-section-content_top">
          <div class="row"><h2 class="header-color-darkenred pb-3 text-start">2025 Chinese New Year Gala</h2></div>    
          <div class="row">
              <div class="col text-start">
                  <p class="custom-text-style"> <b>Time: </b> 02/01/2025</p>
                  <p class="custom-text-style"> <b>Location: </b> Foothill College Smithwick Theater</p>
                  <p class="custom-text-style"> <b>Address: </b> 12345 El Monte Rd, Los Altos Hills, CA 94022</p>
              </div>
              <div class="col_2">
                  <a class="btn btn-sm btn-bg-darkened mb-1" style="min-width: 120px;" href="{{site.data.data.gala_ticket_link}}">
                      <span class="material-symbols-outlined">
                          confirmation_number
                      </span>
                      <span>TICKETS</span>
                  </a>
              </div>
          </div>
      </div>
    </div>
    
    <div class="container pb-4 pt-5">
      <div class="col pb-3 text-center">
          <h1 class="underline">Gala Live Streaming</h1>
          <div>
            
            <iframe style="width: 80vw; height: 80vh; border: none;" src="{{site.data..data.gala_stream_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    
    <div class="home-section-header pb-large">
      <h2 class="underline">ZaiGeZaiGu Chinese Community</h2>
      <p class="py-1"></p>
      <div class="home-section-content">
        <p class="py-2">ZaiGeZaiGu (载歌在谷), or ZGZG in short, is a project of Community Builder Toolbox, Inc. - US IRS registered NPO and also a Chinese volunteer community which originates from Google at Mountain View, CA, in 2014.

          We organize three events every year, Chinese New Year Gala (2500+ audiences, 100+ volunteers involved), Singing Contest (500+ audiences, 100+ volunteers involved), Chinese Culture Fair (1800+ visitors, 100+ volunteers involved).

        </p>
      </div>
    </div>
  </div>
</div>
<!--<div class="sponsor-gala-combined">-->
<!--  <img src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1671771084/zgzg-io-website/2023%E6%98%A5%E6%99%9A/ZGZG-2023%E5%85%94%E5%B9%B4-%E6%B5%B7%E6%8A%A52_vu1hqp.jpg">-->
<!--</div>-->

<div id="buy-ticket" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">2025 Chinese New Year Gala</h1>
      </div>
    </div>
    <p class="black">
      The Chinese New Year Gala, also known as "Chunwan", has become a tradition among the Chinese all over the world -- to enjoy a variety show with friends and family.
    </p>
    <p class="black">
      This year, Community Builder Toolbox Inc. (CBT) brings together performers from the Bay Area and presents the 2025 ZGZG New Gear Gala for the year of Snake, right on the Chinese Year Eve!

      You will find song, dance, comedy acts, magic show and so much more during this 2.5-hour-long show.    </p>
    <div class="row" style="margin-top:80px">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticketing FAQ</h1>
      </div>
    </div>
    <div id="faq" class="faq-text">
      <p>Q1: Is there an age restriction for the audience at the ZGZG Gala?</p>
      <p>Ans: There is no age restriction for the audience at the Gala. Children aged 4 and under do not need a ticket if they do not occupy a seat.</p>

      <p>Q2: What are the ticket prices for this year?</p>
      <p>Ans: The event offers tiered ticket prices: $20, $30, and $50. When purchasing tickets, you can choose your preferred seat on the seating chart.</p>

      <p>Q3: Are there any additional fees for the tickets?</p>
      <p>Ans: We sell tickets through the Eventbrite and Taro platform. Eventbrite charges approximately 3% in processing fees. Unfortunately, these fees are non-refundable in case of ticket returns.</p>

      <p>Q4: Is there an early bird discount this year? How can I use it?</p>
      <p>Ans: There will be no discount this year.</p>

      <p>Q5: What is the refund policy?</p>
      <p>Ans: You can request a refund without conditions until January 25, 2025. Click "refund" on the purchase confirmation page. Note that Eventbrite processing fees are non-refundable. After this date, no refunds will be accepted.</p>

      <p>Q6: Do I need to print my tickets?</p>
      <p>Ans: No, electronic tickets are sufficient. For environmental reasons, we recommend storing the ticket QR code on your phone for easy entry and ticket verification.</p>

      <p>Q7: Can I transfer my tickets to someone else?</p>
      <p>Ans: You can transfer tickets through your Eventbrite account and sharing QR Code if purchasing in Taro. However, please note that the event organizers are not responsible for any independently arranged ticket transfers.</p>

      <p>Q8: How do I use a promo code?</p>
      <p>Ans:
          <ol>
              <li style="color: #949494">Click the "Enter promotional code" link.</li>
              <li style="color: #949494">Enter the promo code in the text box.</li>
              <li style="color: #949494">Click "Apply Code."</li>
          </ol>
          
      </p>
      <p></p>
      <p>If the promo code is successful, you will see the discounted ticket price. If you forgot to use the promo code during registration, email contact-us@zgzg.io, and we will do our best to assist you. Due to Eventbrite website limitations, only one discount code can be used per order; multiple codes (e.g., early bird and friends/family discounts) cannot be combined.</p>
   
      <p>Q9: Are drinks, food, alcohol, and pets allowed?</p>
      <p>Ans: No. According to the policy of the theater, food, drinks, alcohol, and pets are not allowed.</p>

      <p>Q10: What if I have a wheelchair?</p>
      <p>Ans: Please email contact-us@zgzg.io, and we will assist you in purchasing tickets.</p>

      <p>Q11: I am an on-site volunteer. Do I get free seating?</p>
      <p>Ans: Unfortunately, we do not provide free seating for on-site volunteers. If you wish to watch the event, please remember to purchase a ticket.</p>

      <p>Q12: If I have more questions, whom should I contact?</p>
      <p>Ans: Please email: contact-us@zgzg.io.</p>

    </div>
    <p class="py-3"></p>
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticket Link</h1>
      </div>
    </div>
    <div id="buy-button-english" style="width: 100%; display: flex; justify-content: center;"> <a href="{{.site.data.data.gala_ticket_link}}" class="button" style="color:white; margin: 0 auto 100px auto;">TICKETS</a></div>
  </div>
</div>
