---
title: Index
layout: default
bodyClass: page-home
---
<div class="intro">
  <div class="container">
    <div class="row justify-content-end p-0 py-md-3 py-md-8">
      <div class="col-12 col-md-7 col-lg-5 p-3 p-md-3 p-lg-6" id="content">
        <h2>2023 ZaiGeZaiGu Chinese New Year Gala Tickets On Sale Now</h2>
        <p>
          <b>Date and Time: </b>Sat, January 21, 2023, 7PM – 10PM PST (New Year Festival 1-4PM) <br>
          <b>Location: </b>San Jose Center for Performing Arts <br>
          <b>Ticket Link: </b><a style="color: white;" href="https://zgzg.link/2023-ticket-website"><u>https://zgzg.link/2023-ticket-website</u></a><br>
          <b>20%-off Promo code: </b> zgzg-early-bird (expires 01/08/23) <br>
        </p>
        <a href="https://zgzg.link/2023-ticket-website">
          <button type="button" class="btn btn-light btn-primary btn-lg">Purchase Ticket</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container">
    <div class="home-section-header pb-large">
      <h2 class="underline">ZaiGeZaiGu Chinese Community</h2>
      <p class="py-1"></p>
      <div class="home-section-content">
        <p class="py-2">ZaiGeZaiGu (载歌在谷), or ZGZG in short, is a project of Community Builder Toolbox, Inc. - US IRS registered NPO and also a Chinese volunteer community which originates from Google at Mountain View, CA, in 2014.

          We organize three events every year, Chinese New Year Gala (2500+ audiences, 100+ volunteers involved), Singing Contest (500+ audiences, 100+ volunteers involved), Chinese Culture Fair (1800+ visitors, 100+ volunteers involved).

        </p>
      </div>
    </div>
  </div>
</div>
<div class="poster">
  <img src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1671164439/zgzg-io-website/2023%E6%98%A5%E6%99%9A/CGN_Poster_ptjbpe.jpg">
</div>

<div id="buy-ticket" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">2023 Chinese New Year Gala</h1>
      </div>
    </div>
    <p class="black">
      The Chinese New Year Gala, also known as "Chunwan", has become a tradition among the Chinese all over the world -- to enjoy a variety show with friends and family.
    </p>
    <p class="black">
      This year, Community Builder Toolbox Inc. (CBT) brings together performers from the Bay Area and presents the 2023 ZGZG New Gear Gala for the year of Rabbit, right on the Chinese Year Eve!

      You will find song, dance, comedy acts, magic show and so much more during this 2.5-hour-long show.    </p>
    <div class="row" style="margin-top:80px">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticketing FAQ</h1>
      </div>
    </div>
    <div id="faq" class="faq-text">
      <p>问: 载歌在谷春晚对观众的年龄有限制吗？</p>
      <p>答：春晚对观众的年龄没有限制，因为采用一座一票，票号和座位号对应的制度，所有儿童(含三岁以下)必须凭票入场。观众可凭需求通过 Eventbrite 购买残疾人专座。</p>
      <p>问: 今年门票价位如何？</p>
      <p>答: 本次晚会实行阶梯票价，共提供 $65、$45、$25，$15 四种票价，购票时可在座位图上选择适合您的座位。</p>
      <p>问：门票有手续费吗？</p>
      <p>答：我们使用 Eventbrite 平台售票。Eventbrite 会收取大约 3% 的手续费，且退票时无法退还。</p>
      <p>问：今年有早鸟折扣吗？如何使用？</p>
      <p>答：今年我们仍然会提供8折早鸟折扣码: <code>zgzg-early-bird</code>, 次数不限，在 1 月 8 日及之前均可使用。</p>
      <p>问：退票政策是什么？</p>
      <p>答：您可以在 2023 年 1 月 14 日（含）之前，您可以无条件退票，在购票确认页点击“refund”即可。注意：Eventbrite 手续费无法退还。在此之后，您将不可以退票。</p>
      <p>问：我需要打印门票吗？</p>
      <p>答：不需要，电子版门票即可。出于环保原因，我们建议您将门票二维码存在手机中，方便入场检票。</p>
      <p>问：我的门票可以转让予他人吗？</p>
      <p>答：您可以通过 Eventbrite 账号转让门票。但是请注意本次活动主办方不对观众自发的转让活动负责。</p>
      <p>问：如何使用 promo code？</p>
      <p>答：
      </p>
      <p>
      <ol>
        <li style="color: gray">点击“Enter promotional code”链接。</li>
        <li style="color: gray">在文本框输入 promo code。</li>
        <li style="color: gray">点击“Apply Code”。</li>
      </ol>
      </p>
      <p>
        如果 promo code 使用成功，你会看到打了折扣的票价。 如果你原先注册了，但是忘了使用 promo code，请发 email 到 contact-us@zgzg.io，我们会尽全力给您满意答复！由于 Eventbrite 网站的限制，每一单只能使用一个折扣码，多个折扣码（例如早鸟折扣和亲友折扣）无法叠加。
      </p>
      <p>问：我可以带食物、饮料、酒水、宠物进场吗？</p>
      <p>答：不好意思，根据剧场相关规定，食物、饮料、酒水、宠物都不能带进剧场。</p>
      <p>问：如果我有轮椅怎么办？</p>
      <p>答：请发邮件到 contact-us@zgzg.io，我们会协助您购票。</p>
      <p>问：我是现场志愿者，我有免费座位吗？</p>
      <p>答：不好意思，我们并不为现场志愿者提供免费座位。如果您需要观看比赛，请记得买票哦。</p>
      <p>问：我有更多问题，需要联系谁？</p>
      <p>答：请发邮件至：contact-us@zgzg.io。</p>
    </div>
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticket Link</h1>
      </div>
    </div>
    <div id="buy-button-english" class="button" style="margin-top:0px; margin-bottom: 100px;"> <a href="https://zgzg.link/2023-ticket-website" style="color:white;">Purchase Ticket</a></div>
