---
title: Index
layout: default
bodyClass: page-home
---
<div class="intro">
  <div class="container">
    <div class="row justify-content-end p-0 py-md-3 py-md-8">
      <div id="content" class="col-12 col-md-7 col-lg-5 p-3 p-md-3 p-lg-6 content-singer-background">
        <h2>2024 New Year's Gala and Carnival in Preparation!</h2>
        <p class="mb-1 mt-2">
          The most festive and entertaining New Year's Gala in the Bay Area is about to kick off an amazing celebration!<br>
      </p>
      <p>
          Not only will there be exciting performances and surprising guests, but also the chance for you to become the star of the stage!<br><br>
          Performance Date: January 20, 2024<br>
      </p>
        <!-- <div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px">
          <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-end; gap: 5px 10px;">
            <a target="_blank" href="http://zgzg.link/2023s-signup">
              <button type="button" class="btn btn-light btn-primary btn-sm btn-singer">Adult Group</button>
            </a>
            <a target="_blank" href="http://zgzg.link/2023s-signup">
              <button type="button" class="btn btn-light btn-primary btn-sm btn-singer">Children Group</button>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container">
    <div class="home-section-header pb-large">
      <h2 class="underline">ZaiGeZaiGu Chinese Community</h2>
      <p class="py-1"></p>
      <div class="home-section-content">
        <p class="py-2">ZaiGeZaiGu (载歌在谷), or ZGZG in short, is a project of Community Builder Toolbox, Inc. - US IRS registered NPO and also a Chinese volunteer community which originates from Google at Mountain View, CA, in 2014.

          We organize three events every year, Chinese New Year Gala (2500+ audiences, 100+ volunteers involved), Singing Contest (500+ audiences, 100+ volunteers involved), Chinese Culture Fair (1800+ visitors, 100+ volunteers involved).

        </p>
      </div>
    </div>
  </div>
</div>
<div class="sponsor-gala-combined">
  <img src="https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1671771084/zgzg-io-website/2023%E6%98%A5%E6%99%9A/ZGZG-2023%E5%85%94%E5%B9%B4-%E6%B5%B7%E6%8A%A52_vu1hqp.jpg">
</div>

<div id="buy-ticket" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">2024 Chinese New Year Gala</h1>
      </div>
    </div>
    <p class="black">
      The Chinese New Year Gala, also known as "Chunwan", has become a tradition among the Chinese all over the world -- to enjoy a variety show with friends and family.
    </p>
    <p class="black">
      This year, Community Builder Toolbox Inc. (CBT) brings together performers from the Bay Area and presents the 2024 ZGZG New Gear Gala for the year of Rabbit, right on the Chinese Year Eve!

      You will find song, dance, comedy acts, magic show and so much more during this 2.5-hour-long show.    </p>
    <div class="row" style="margin-top:80px">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticketing FAQ</h1>
      </div>
    </div>
    <div id="faq" class="faq-text">
      <p>Q1: Is there an age limit?</p>
      <p>Ans: There is no age limit for the event. All audiences, including children under 3 years old, need to bring tickets to participate in the event. Individuals with disabilities are eligible to purchase tickets for accessible seats through Eventbrite.</p>
      <p>Q2: Do you charge a service fee for the ticket?</p>
      <p>Ans: Yes, Eventbrite charges 3% of the ticket price as a service fee. The service fee is non-refundable when you cancel and refund a ticket.</p>
      <p>Q3: Do you have an early bird discount this year? If so, how do I use it?</p>
      <p>Ans: Yes! This year we still provide an 80% discount for people who purchase tickets before Jan. 8th with the promotion code: <code>zgzg-early-bird</code>. The number of early bird tickets that can be purchased is unlimited!</p>
      <p>Q4: What is the return policy?</p>
      <p>Ans: Tickets are unconditionally refundable before Jan 14th (including Jan. 14th) through the Eventbrite. Note that the Eventbrite service fee is not refundable. After Jan 14th, tickets are no longer refundable.</p>
      <p>Q5: Do tickets need to be printed?</p>
      <p>Ans: No, it's not necessary to have printed tickets. Electronic tickets are accepted. You can save the QR code on your mobile devices for convenience.</p>
      <p>Q6: Can tickets be transferred to others?</p>
      <p>Ans: Yes, you can transfer the tickets through Eventbrite. However, we are not responsible for any issues of the transfer.</p>
      <p>Q7: How to apply promo code?</p>
      <p>Ans:</p>
      <p>
      <ol>
        <li style="color: #949494">Click “Enter promotional code” link</li>
        <li style="color: #949494">Enter promo code in the textbox.</li>
        <li style="color: #949494">Click “Apply Code”.</li>
      </ol>
      </p>
      <p>If the promo code is applied successfully, you will see the discounted price. Due to Eventbrite’s restriction, only one promo code can be used per order. Promo codes cannot be combined.</p>
      <p>Q8: Are drinks, food, alcohol, and pets allowed?</p>
      <p>Ans: No. According to the policy of the theater, food, drinks, alcohol, and pets are not allowed.</p>
      <p>If you have any other questions, please email us: contact-us@zgzg.io.</p>
    </div>
    <p class="py-3"></p>
    <div class="row">
      <div class="col pb-3 text-center">
        <h1 class="underline">Ticket Link</h1>
      </div>
    </div>
    <div id="buy-button-english" class="button" style="margin-top:0px; margin-bottom: 100px;"> <a onclick="return false;" href="javascript:void(0)" style="color:white;">Coming Soon!</a></div>
  </div>
</div>
