---
layout: default
---
<div class="container">
    <img class="card-img-top" style="aspect-ratio: 1; object-fit: cover" src="{{ gala-beginning.image }}">
    <div class="row">
        {% for pic in site.data.data.galalist %}
        <div class="col-6 col-lg-12 col-md-4">
            <div class="card">
                <div><img class="card-img-top" style="aspect-ratio: 1; object-fit: cover" src="{{ pic.image }}"></div>
                <div class="card-body">

                    <div class="card-title">{{ pic.type }} {{ pic.name }}</div>

                    <div class="card-subtitle"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <img class="card-img-top" style="aspect-ratio: 1; object-fit: cover" src="{{ gala-end.image }}">
</div>
