---
layout: default
---
<div class="hero gala-bg"></div>
    <div class="container pt-4">
        <div class="container">
            <div class="home-section-header">
                <div class="home-section-content_top">
                    <div class="row"><h2 class="header-color-darkenred pb-3 text-start">2025蛇年 载歌在谷 春晚</h2></div>    
                    <div class="row">
                        <div class="col text-start">
                            <p class="custom-text-style"> <b>时间:</b> 2025年02月01日 周六</p>
                            <p class="custom-text-style"> <b>地点:</b> Foothill College Smithwick Theater</p>
                            <p class="custom-text-style"> <b>地址:</b> 12345 El Monte Rd, Los Altos Hills, CA 94022</p>
                            
                        </div>
                        <div class="col_2">
                            <a class="btn btn-secondary btn-sm mb-1" style="min-width: 120px;" href="{{site.data.data.gala_auidence_guide_link}}"> 
                                <span class="material-symbols-outlined">
                                    download
                                </span>
                                <span>观众手册</span>
                            </a>
                            <a class="btn btn-sm btn-bg-darkened mb-1" style="min-width: 120px;" href="{{site.data.data.gala_ticket_link}}">
                                <span class="material-symbols-outlined">
                                    confirmation_number
                                </span>
                                <span>活动购票</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- removed per Larry request -->
<!-- Tab links -->
<!-- <div class="tab">
    <button class="tab-links default-open" onclick="openTab(event)" data-tab-group="main" data-tab-id="about-gala">关于春晚</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="shows-info">节目介绍</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="gala-day">春晚当天</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="buy-ticket">活动购票</button>
    <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="ytVideos">往年视频</button>
</div> -->
<div id="about-gala" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        <div class="row">
            <div class="col pb-3 text-center">
                <h1 class="underline">关于 载歌在谷 春晚</h1>
            </div>
        </div>
        <p class="black">
            载歌在谷春晚自2015年来已经连续举办了10届，受到社会各界尤其是北美华人圈的广泛关注，合作媒体包括吃货小分队，新浪微博，星岛电台星电视，美国中文电台，美国中文电视，喜马拉雅等。我们的春晚还接连登上了CCTV4，作为海外华人的代表给全球华人拜年，影响颇广。
        </p>

        <div class="container text-center pt-3">
            <div class="row gala-text-grid">
                <div class="col gala-text-grid">70进20</div>
                <div class="col gala-text-grid">20进6</div>
                <div class="col gala-text-grid">150+</div>
                <div class="col gala-text-grid">150+</div>
            </div>
            <div class="row gala-text-grid">
                <div class="col gala-text-grid-content">节目选拔</div>
                <div class="col gala-text-grid-content">主持人选拔</div>
                <div class="col gala-text-grid-content">志愿者</div>
                <div class="col gala-text-grid-content">演职人员</div>
            </div>
        </div>
    </div>
</div>

<!-- Pending -->
<!-- <div id="shows-info" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        {% include galalist.html %}
    </div>
</div> -->
<div id="gala-day" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        <div class="row">
            <div class="col pb-3 text-center">
                <h1 class="underline">春晚当天</h1>
            </div>
        </div>
        <div class="container text-center pt-3">
            <div class="row gala-text-grid">
                <div class="col gala-text-grid"><span class="material-symbols-outlined" style="font-size:50px;">event</span></div>
                <div class="col gala-text-grid"><span class="material-symbols-outlined" style="font-size:50px;">location_on</span></div>
                <div class="col gala-text-grid"><span class="material-symbols-outlined" style="font-size:50px;">local_parking</span></div>

            </div>
            <div class="row gala-text-grid">
                <div class="col gala-text-grid" style="font-size: 24px !important;">演出时间</div>
                <div class="col gala-text-grid" style="font-size: 24px !important;">演出地点</div>
                <div class="col gala-text-grid" style="font-size: 24px !important;">停车信息</div>
            </div>
            <div class="row gala-text-grid pt-2">
                <div class="col black">
                    2025年02月01日</br>
                    <!-- 6:00 pm 开门检票</br> -->
                    <!-- 7:00 - 9:30 pm 正式演出 -->
                </div>
                <div class="col black">Foothill College Smithwick Theater</div>
                <div class="col black">请自行选择附近大型停车场</div>
            </div>
        </div>
    </div>
</div>
<div id="buy-ticket" class="tab-content">
    <div class="container pt-3 pb-3 pt-md-6 pb-md-6">
        <div class="row">
            <div class="col pb-3 text-center">
                <h1 class="underline">活动购票&常见问题</h1>
            </div>
        </div>
        <div id="faq" class="faq-text">
            <p>问: 今年有哪些购票平台？</p>
            <p>答：我们使用 Eventbrite和Taro 平台售票。</p>
            <p>问: 载歌在谷春晚对观众的年龄有限制吗？</p>
            <p>答：春晚对观众的年龄没有限制。我们有成人节目和儿童节目，非常适合携家带口观看。</p>
            <p>问: 儿童需要购票吗 </p>
            <p>答：4岁及以下儿童不占用座位的话无需购票。</p>
            <p>问: 今年门票价位如何？</p>
            <p>答: 本次晚会实行阶梯票价，共提供 $20、$30、$50三种票价，购票时可在座位图上选择适合您的座位。</p>
            <p>问：门票有手续费吗？</p>
            <p>答：我们使用 Eventbrite和Taro 平台售票。Eventbrite 会收取大约 3% 的手续费，且退票时无法退还。Taro没有手续费。</p>
            <p>问：今年有早鸟折扣吗？如何使用？</p>
            <p>答：今年没有早鸟折扣。</p>
            <p>问：退票政策是什么？</p>
            <p>答：您可以在 2025 年 1 月 24 日（含）之前，您可以无条件退票，在购票确认页点击“refund”即可。注意：Eventbrite 手续费无法退还。在此之后，您将不可以退票。</p>
            <p>问：我需要打印门票吗？</p>
            <p>答：不需要，电子版门票即可。出于环保原因，我们建议您将门票二维码存在手机中，方便入场检票。</p>
            <p>问：我的门票可以转让予他人吗？</p>
            <p>答：您可以通过 Eventbrite 账号转让门票。Taro可通过分享二维码转让。但是请注意本次活动主办方不对观众自发的转让活动负责。</p>
            <!-- <p>问：如何使用 promo code？</p>
            <p>答：
            </p>
            <p>
                <ol>
                    <li style="color: #949494">点击“Enter promotional code”链接。</li>
                    <li style="color: #949494">在文本框输入 promo code。</li>
                    <li style="color: #949494">点击“Apply Code”。</li>
                </ol>
            </p>
            <p>
                如果 promo code 使用成功，你会看到打了折扣的票价。 如果你原先注册了，但是忘了使用 promo code，请发 email 到 contact-us@zgzg.io，我们会尽全力给您满意答复！由于 Eventbrite 网站的限制，每一单只能使用一个折扣码，多个折扣码（例如早鸟折扣和亲友折扣）无法叠加。
            </p> -->
            <p>问：我可以带食物、饮料、酒水、宠物进场吗？</p>
            <p>答：不好意思，根据剧场相关规定，食物、饮料、酒水、宠物都不能带进剧场。</p>
            <p>问：如果我有轮椅怎么办？</p>
            <p>答：请发邮件到 contact-us@zgzg.io，我们会协助您购票。</p>
            <!-- <p>问：我是现场志愿者，我有免费座位吗？</p>
            <p>答：不好意思，我们并不为现场志愿者提供免费座位。如果您需要观看表演，请记得买票哦。</p> -->
            <p>问：我有更多问题，需要联系谁？</p>
            <p>答：请发邮件至：contact-us@zgzg.io。</p>
        </div>
        <div id="sponsor">
            <div class="sponsor-gala-combined">
                <img src="https://res.cloudinary.com/zaigezaigu/image/upload/v1737920698/%E8%B5%9E%E5%8A%A9%E5%95%86%E9%95%BF%E5%9B%BE0126_fgz6dr.jpg" />
                
            </div>
        </div>
    </div>  
</div>
<div id="ytVideos" class="tab-content">
    <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
        <div class="row">
            <div class="col pb-3 text-center">
                <h1 class="underline">往年视频</h1>
            </div>
        </div>
        <div id="ytCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                {% for ytVideo in site.data.past-ytVideos.ytVideos %}

                    <div class="carousel-item carousel-card {{ ytVideo.status }}">
                        <iframe src="{{ ytVideo.url }}"></iframe>
                        <div>{{ ytVideo.title }}</div>
                    </div>
                {% endfor %}

              <!-- Add more carousel items as needed -->
            </div>
            <a class="carousel-control-prev" href="#ytCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#ytCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>



