---
layout: default
---
<div id="gala-banner" class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center">
                <h1>2022载歌在谷线下春节活动重磅回归！</h1>
                <p>春节晚会：<br>
                    时间：2022年1月15日周六，7pm PST (暂定)<br>
                    地点：SJCPA，255 S Almaden Blvd, San Jose, CA 95113 <br>
                </p>
                <p>游园会:<br>
                    时间：2022年1月15日周六，1pm – 4pm PST (暂定)<br>
                    地点：SJCPA 门前广场，255 S Almaden Blvd, San Jose, CA 95113</p>
                <p>春晚赞助商联系信息<br>
                    Email: 2022-info@zgzg.io</p>
            </div>
            <div  class="col-12 mb-6 col-md-6 col-lg-6 align-self-end">
                <p><a class="button" href="/trailer"><b>最新春晚拍摄花絮</b></a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="service service-single" id="content">
        <div class="content">{{content}}</div>
    </div>
</div>
<div id="gala-sponsors" class="section">
    <div class="container">
        <h2 class="gala-heading">钻石赞助</h2>
        <div class="row diamond-sponsors">
        {% for sponsor in site.data.data.sponsors.diamond %}
        <div class="col-12 col-md-5 mb-1">  
            {% include sponsor.html %}
            </div>
        {% endfor %}
        </div>
        <h2 class="gala-heading">白金赞助</h2>
        <div class="row platinum-sponsors">
            {% for sponsor in site.data.data.sponsors.platinum %}
            <div class="col-12 col-md-4 mb-1">   
            {% include sponsor.html %}
            </div>
            {% endfor %}
            </div>
        <h2 class="gala-heading">金牌赞助</h2>
        <div class="row gold-sponsors">
            {% for sponsor in site.data.data.sponsors.gold %}
            <div class="col-12 col-md-3 col-sm-2 mb-1">   
                {% include sponsor.html %}
            </div>
            {% endfor %}
        </div>
        <h2 class="gala-heading">合作伙伴</h2>
        <div class="row gold-sponsors">
            {% for sponsor in site.data.data.sponsors.partners %}
            <div class="col-12 col-md-3 col-sm-2 mb-1">   
                {% include sponsor.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>