---
title: Index
layout: default
bodyClass: page-home
---
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7LQPFW');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7LQPFW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-5 col-lg-6 order-2 order-md-1 position-relative pt-4">
        <iframe src="https://www.youtube.com/embed/VNLQ2vn4TqY" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen id="teaser"></iframe>
        <iframe style="display:none"
          src="https://calendar.google.com/calendar/embed?height=200&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&src=Y2ItdC5vcmdfa3ZhNmNlYW9zMTJyaXFkM3JraWhhcGc0bjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60&showCalendars=0&showTabs=0&mode=AGENDA&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=1&hl=zh_CN"
          frameborder="0" scrolling="no" id="calendar"></iframe>
      </div>
      <div class="col-12 col-md-7 col-lg-6 order-1 order-md-2 d-flex align-items-end flex-column">
        <h1 style="text-align: right;">2022载歌在谷歌手赛</h1>
        <div style="margin: 10px 50px">
          <h2>2022歌手赛：</h2>
          <p>
           海选 时间：2022年06月19日 报名截止 <br>
           初赛 时间：2022年07月09日 <br>
           决赛 时间：2022年09月03日 <br>
           地点：101 Paseo De San Antonio <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; (between 2nd and N 3rd St) <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; San Jose, CA 95113 <br>
           备注：Hammer Theatre Center <br>
          </p><br>
          <div style="margin:0 auto">
          <a id="eventbrite" href="http://zgzg.link/2022s-ticket-website" target="_blank">
          <div id="singer-button" class="button"> 点击购票 </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10" id="chunwan">
    <h1>载歌在谷精彩活动</h1>
    <div class="row justify-content-start">
    {% if site.data.data.programmes_chunwan %}
      {% for programme in site.data.data.programmes_chunwan %}
        {% include programme.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10" id="yj">
    <h1>“云集”系列栏目</h1>
    <p>载歌在谷社区孵化了许多群体，常年举办各种活动。快来参加吧！</p>
    {% assign show_concluded_programmes = false %}
    {% include programmes.html %}
  </div>
</div>

{% include sponsor-home.html %}
{% include sponsor-yj.html %}

<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pb-md-10" id="sponsors">
    <div class="row">
      <h2>伙伴社区</h2>
    </div>
    <div class="row">
      <p>湾区其他以华人为主的非盈利组织。</p>
    </div>
    <div class="row justify-content-start">
      {% for friend in site.data.data.friends %}
      <div class="col-12 col-md-2 mb-1 pl-3 pr-3">
        <div class="friend friend-summary">
          <div class="friend-content">
            {% if friend.image %}
            <div class="friend-image">
              <a href="{{ friend.website }}">
                <img alt="{{ friend.name }}" src="{{ friend.image }}" />
              </a>
            </div>
            {% endif %}
            <a href="{{ friend.website }}">
              <h3>{{ friend.name }}</h3>
            </a>
            <div class="friend-content">
              <p class="friend-description">{{ friend.description }}</p>
              {% if friend.contact.size > 0 %}
              {% for contact in friend.contact %}
              {{ contact | markdownify }}
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container pt-0 pb-0 pb-md-10">
    <div class="row justify-content-start">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup {
          clear: left;
          width: 100%;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="https://zgzg.us8.list-manage.com/subscribe/post?u=950d5d29a24ced3fd75514828&amp;id=e7addb4cae"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">订阅我们的邮件列表</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_950d5d29a24ced3fd75514828_e7addb4cae" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                class="button"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
