---
title: Index
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    <img width="20%" class="{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" alt="硅谷脱口秀" src="/images/logo.svg" />
    <div class="row justify-content-start">
      <!-- left column -->
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>

      <!-- right column -->
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        {% if page.intro_image %}
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
        {% endif %}
        {% if page.events.size > 0 %}
        <h2>近期演出</h2>

        <!-- Current time in seconds since epoch -->
        {% assign now_secs = 'now' | date: '%s' | plus: 0 %}
        {% for event in page.events %}
        <!-- Event time in seconds by end of the date -->
        {% assign ev_secs = event.datetime | date: '%s' | plus: 86400 | plus: 0 %}
        <!-- If event has passed, then hide -->
        {% if ev_secs >= now_secs %}
          {% if event.image %}
          <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ event.image | relURL }}"/>
          {% endif %}
          <div class="call">
            <div class="call-box-top">
              <div class="call-phone"><strong>时间：</strong>{{ event.time }}</div>
              <div class="call-email"><strong>地点：</strong>
                <a href="{{ event.address_url }}">{{ event.address }}</a></div>
            </div>
            <div class="call-box-bottom">
              {% if event.tickets_link %}
              <a href="{{ event.tickets_link }}" class="primary button">购票</a>
              {% endif %}
              {% if event.additional_link %}
              <a href="{{ event.additional_link }}" class="primary button">{{ event.additional_label }}</a>
              {% endif %}
            </div>
          </div>
          <div style="margin-bottom: 20px"></div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 order-1 order-md-1">
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/kf2sMdP_FHw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

{% if page.show_people %}
<div class="strip strip-grey">
  <div class="container pt-3 pb-3">
    <div class="row pt-3 pb-3">
      <div class="col-6">
        <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&hl=zh_CN&src=Y19pYzNtbGNpMXVudTUxNGh0OWx1bjNkcGp2c0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342" style="border-width:0" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.6342101171017!2d-122.03590858372496!3d37.32749144553786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb50f588f2fc5%3A0x3d859bf8c12738dd!2z56GF6LC36ISx5Y-j56eA!5e0!3m2!1sen!2sus!4v1631255597550!5m2!1sen!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col-12">
        <h1>友情链接</h1>
        <ul>
          {% for friend in site.data.friends.friends %}
          <li>
            <a href="{{ friend.url }}">{{ friend.name }}</a>：{{ friend.description }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
