---
title: Index
layout: default
bodyClass: page-home
---
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7LQPFW');</script>
<!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7LQPFW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="intro">
  <div class="container-fluid">
    {% include sponsor-ad-banner.html slogan="2025 「载歌在谷」蛇年春晚隆重筹备中，现正火热招商!" linkInfo="查看详情" %}
  </div>
</div>


<div class="strip">
  <div class="container pb-4 pt-5">
    {% include eventInfo.html %}
  </div>
</div>

<div class="strip">
  <div class="container pt-1 pb-3">
    <div class="home-section-header pt-5">
      <h2 class="underline">关于 “载歌在谷”</h2>
      <div class="home-section-content pt-3">
        <p>载歌在谷社区是一个以硅谷高科技华人从业者为主要贡献者，以文艺文化活动为载体，旨在促进贡献者的快乐、友谊和成长的社区。</p>
        <p>源自2015年的谷歌内部春晚，“载歌在谷"社区于2017年起走出谷歌、成为面向整个硅谷和旧金山湾区的独立的非盈利社区。</p>
      </div>
    </div>
  </div>
</div>

{% if site.data.data.programmes_chunwan %}
  {% for item in site.data.data.programmes_chunwan %}
    <div class="strip">
      <div class="container">
        {% assign remainder = forloop.index0 | modulo: 2 %}
        {% if remainder == 0 %}
          {% include list-item-left.html %}
        {% else %}
          {% include list-item-right.html %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="strip">
  <div class="container pt-1 pb-6 pb-md-6" id="yj">
    <div class="home-section-header pb-small">
      <h2 class="underline">云集社团</h2>
      <div class="home-section-content">
        <p class="py-2">载歌在谷社区孵化了许多兴趣社团，常年举办各种活动。快来参加吧！</p>
      </div>
    </div>

    {% assign show_concluded_programmes = false %}
    {% assign show_join_us = false %}
    {% include programmes.html %}
  </div>
</div>

<div class="strip">
  <!-- <div class="container pt-6" id="sponsors">
    remove comment and endcomment to restore sponsors if needed
    {% comment %}
    {% assign sponsor_type = site.data.data-sponsor.sponsor-home %}
    {% include sponsor-template.html %}
    {% endcomment %}
  </div>   -->
  <div class="container pt-6 pb-5">
    {% for level in site.data.data-sponsor.sponsor-home.sponsor-levels %}
      <div class="row">
        <div class="col pb-6 text-center">
            <h1 class="gala-heading underline">{{level.level-heading}}</h1>
        </div>
      </div>
      {% for sponsor in level.sponsor-elements %}
      <div class="container d-flex align-items-start">
        <div class="flex-shrink-0" style="width: 50%;">
          <img class="img-fluid" style="width: 80%; height: auto;" src="{{sponsor.image}}" alt="{{sponsor.name}}">
        </div>
        <div class="flex-grow-1 text-break" style="width: 50%;">
          <h2>{{sponsor.name}}</h2>
          <p>{{sponsor.description}}</p>
          {% if sponsor.cell %}
            <div>Cell: {{sponsor.cell}}</div>
          {% endif %}
          {% if sponsor.email %}
            <div>Email: <a href="mailto:{{sponsor.email}}">{{sponsor.email}}</a></div>
          {% endif %}
          {% if sponsor.website %}
            <div><a href="{{sponsor.website}}">{{sponsor.website}}</a></div>
          {% endif %}
        </div>
      </div>      
      {% endfor %}
    {% endfor %}
  </div>
</div>


<div class="strip">
  <div class="container pb-5 pt-6" id="friends">
    <div class="home-section-header">
      <h2 class="underline">伙伴社区</h2>
      <div class="home-section-content">
        <p class="py-2">湾区其他以华人为主的非盈利组织。</p>
      </div>
    </div>

    <div class="row justify-content-start">
      {% for friend in site.data.data.friends %}
      <div class="col-6">
        {% include friends.html %}
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>
</body>
