---
layout: default
---
<!-- TO BE CHUNWAN VOLUNTEER  -->
<!-- <div class="hero p-4 p-md-8 p-lg-10"  style="background-image: url(https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1670296956/zgzg-io-website/%E6%88%90%E4%B8%BA%E5%BF%97%E6%84%BF%E8%80%85/henry-co-3JFVNo4ukKQ-unsplash_k4bpot.jpg); background-position: inherit;">
    <div class="hero-content col-lg-6 col-10">
        <h1>
            成为春晚志愿者
        </h1>
        <h2>
            2023兔年“载歌在谷”春晚志愿者招募火热进行中！你想要了解春晚是如何策划和运行的吗？想要学到更多技能么？希望自己的领导能力和管理能力得到锻炼吗？并且认识到更多优秀的小伙伴吗？我们期待你的热情加入！！！
        </h2>
        <h2>
            <a class="btn btn-primary btn-lg tab-links" href="http://zgzg.link/2022s-volunteer-signup">现在报名</a>
        </h2>
    </div>
</div> -->

<!-- To BE YUNJI VOLUNTEER -->
<div class="hero p-4 p-md-8 p-lg-10"  style="background-image: url(https://res.cloudinary.com/zaigezaigu/image/upload/t_auto_eco_compression/v1670297184/zgzg-io-website/%E6%88%90%E4%B8%BA%E5%BF%97%E6%84%BF%E8%80%85/kimson-doan-AZMmUy2qL6A-unsplash_ywfkry.jpg); background-position: center;">
    <div class="hero-content col-lg-6 col-10">
        <h1>
            成为云集志愿者
        </h1>
        <h2>
            新一季的云集栏目正在与大家招手！想要加入各种各样活动、结实新朋友、开发新潜能、一展能力的你快来加入我们吧！从体育运动到职场规划，再到戏剧演出、读书分享和电影交流......总有一款适合你！
        </h2>
        <h2>
            <a class="btn btn-primary btn-lg tab-links" href="http://zgzg.link/2022f-cloud-register">现在报名</a>
        </h2>
    </div>
</div>


<!-- Tab links -->
<div class="tab">
  <button class="tab-links default-open" onclick="openTab(event)" data-tab-group="main" data-tab-id="gala">春晚/歌手赛</button>
  <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="tour">游园</button>
  <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="yj">云集栏目</button>
</div>

<div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <!-- Tab content -->
    <div id="gala" class="tab-content">
        {% for item in site.gala_positions %}
            {% include list-item-large.html %}
        {% endfor %}
    </div>

    <div id="tour" class="tab-content">
        {% for item in site.tour_positions %}
            {% include list-item-large.html %}
        {% endfor %}
    </div>

    <div id="yj" class="tab-content">
        {% for item in site.yj_positions %}
            {% include list-item-large.html %}
        {% endfor %}
    </div>
    {{ content }}
</div>



