---
layout: default
---
<div class="container pt-4 pt-md-8">
<div class="row justify-content-start">
  <div class="col-12 col-md-8 col-lg-8 order-2 order-md-1">
    <h1 class="title">{{page.title}}</h1>
    {% if page.description %}
      <p>{{page.description}}</p>
    {% endif %}
  </div>
  {% if page.intro_image %}
  <div class="col-12 col-md-4 col-lg-4 order-1 order-md-2">
    <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %} limit-height" src="{{ page.intro_image | relURL }}" />
  </div>
  {% endif %}
</div>
</div>
<div class="container pb-3 pt-3 pt-md-4 pb-md-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single" id="content">

                <div class="content">{{content}}</div>
            </div>
        </div>
        <div class="col-12 col-md-4 content" id="sidebar">
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ "/assets/js/sidenotes.js" | relative_url }}"></script>
