---
layout: default
---
<div class="hero p-4 p-md-8 p-lg-10 hero-singer">
    <div class="hero-content">
        <h1>
            2024 歌手赛
        </h1>
        <h2>
            初赛：2024 年 6 月 9 日<br>
            地点：Dingding TV, Santa Clara, CA<br>
            决赛：2024 年 7 月 13 日<br>
            地点：Heritage theater, Campbell, CA
        </h2>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdeKNwG0b1PDPqZOxxMjVoR62EeR3Sbue17GflICazBMPrScA/viewform?usp=sf_link">
            <button class="btn btn-primary btn-extend px-xl-5">报名链接</button>
        </a>
    </div>
</div>
<div class="container pt-4">
    <div class="blank_row">
        <td colspan="3"></td>
    </div>
</div>
