---
layout: default
---
<div id="singer-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center">
               <div style="margin: 10px 50px">
               <h2>2022歌手赛：</h2>
               <p>
               海选 时间：2022年06月19日 报名截止 <br>
               初赛 时间：2022年07月09日 <br>
               决赛 时间：2022年09月03日 <br>
               地点：101 Paseo De San Antonio, San Jose, CA 95113 <br>
               备注：SJSU Hammer Theatre Center <br>
               </p>
               </div>
                <div id="singer-button" class="button"> <a id="eventbrite"
                href="http://zgzg.link/2022s-ticket-website"
                style="color:white;" target="_blank">点击购票</a>
                </div>
                <div id="eb-overlay" class=''>
                    <svg id="close-overlay" onclick="overlay_off()" x="0" y="0" viewBox="0 0 24 24" xml:space="preserve">
                    <path id="cross-chunky_svg__eds-icon--cross-chunky_base" d="M13.4 12l3.5-3.5-1.4-1.4-3.5 3.5-3.5-3.5-1.4 1.4 3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4z">
                    </path>
                   </svg>
                </div>
            </div>
        </div>
    </div>
</div>


{% include singerlist.html %}
{% include sponsor-singer-all.html %}
