---
layout: default
---
<div id="ticket-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2022 载歌在谷歌手赛决赛观众售票！</h1>
                <div><br>
                    <h3>歌手赛决赛：</h3>
                    <p>
                        时间：2022年9月3日 周六，7pm - 10pm PST<br>
                        地点：SJCPA，255 S Almaden Blvd, San Jose, CA<br>
                    </p>
                    <p><b><span id="warning" onclick="$('#faq').show()"><a href="#faq1" style="color:white">12岁及以上观众必须出示疫苗证. 详情请见FAQ.</a></span></b></p>
                </div>
            </div>
        </div>
    </div>
</div>
