---
layout: default
---
<div class="hero p-4 p-md-8 p-lg-10 hero-singer">
    <div class="hero-content">
        <h1>
            2025“我最闪亮”成人组歌手赛
        </h1>
        <h2>
            复赛：2025 年 5 月 24 日<br>
            地点：Starbright Theater, Campbell, CA<br>
            决赛：2025 年 7 月 19 日<br>
            地点：Hammer Theater, San Jose, CA
        </h2>
        <a href="{{.site.data.data.2025s_prelim_ticket_link}}">
            <button class="btn btn-primary btn-extend px-xl-5">复赛购票链接</button>
        </a>
        <a href="{{.site.data.data.2025s_ticket_link}}">
            <button class="btn btn-primary btn-extend px-xl-5">决赛购票链接</button>
        </a>
    </div>
    <div class="hero-content">
        <h1>
            2025“童星闪耀”青少年组歌手赛
        </h1>
        <h2>
            决赛：2025 年 5 月 25 日<br>
            地点：Starbright Theater, Campbell, CA
        </br>
        </br>
        </br>
        </h2>
        <a href="{{.site.data.data.2025s_youth_ticket_link}}">
            <button class="btn btn-primary btn-extend px-xl-5">购票链接</button>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- Tab links -->
            <div class="tab">
                <button class="tab-links default-open" onclick="openTab(event)" data-tab-group="main" data-tab-id="2025s-youth-singer-list">青少年组决赛</button>
                <button class="tab-links" onclick="openTab(event)" data-tab-group="main" data-tab-id="2025s-prelim-singer-list">成人组复赛</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Tab content -->
            <div id="2025s-youth-singer-list" class="tab-content">
                <div id="galalist-space">
                    <div class="container">
                        <div class="row g-1 g-md-2 p-1 p-md-3">
                            {% for programme in site.data.data.2025s-youth-singerlist %}
                            {% include programme.html %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="2025s-prelim-singer-list" class="tab-content">
                <div id="galalist-space">
                    <div class="container">
                        <div class="row g-1 g-md-2 p-1 p-md-3">
                            {% for programme in site.data.data.2025s-prelim-singerlist %}
                            {% include programme.html %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
