---
layout: default
---
<div class="hero singer-bg"></div>
    <div class="container pt-4 pb-4">
        <div class="container">
            <div class="home-section-header">
                <div class="home-section-content_top">  
                    <div class="row">
                        <div class="col text-start">
                            <h3>Adult Group</h3>
                  <p class="custom-text-style"> <b>Semi-final: </b> 05/24/2025</p>
                  <p class="custom-text-style"> <b>Location: </b> Starbright Theater, Campbell, CA</p>
                  <p class="custom-text-style"> <b>Final: </b> 07/19/2025</p>
                  <p class="custom-text-style"> <b>Location: </b> Hammer Theater, San Jose, CA</p>
                  <h3>Youth Group</h3>
                  <p class="custom-text-style"> <b>Final: </b> 05/25/2025</p>
                  <p class="custom-text-style"> <b>Location: </b> Starbright Theater, Campbell, CA</p>
                        </div>
                        <div class="col_2">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <a class="btn btn-sm btn-bg-darkened mb-1" style="min-width: 150px;" href="{{site.data.data['2025s_ticket_link']}}">
                                    <span class="material-symbols-outlined">
                                        confirmation_number
                                    </span>
                                    <span>Adult Final</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="sponsor">
                <div class="sponsor-gala-combined">
                    <img src="https://res.cloudinary.com/zaigezaigu/image/upload/v1737920698/%E8%B5%9E%E5%8A%A9%E5%95%86%E9%95%BF%E5%9B%BE0126_fgz6dr.jpg" />
                    
                </div>
            </div> -->
        </div>
    </div>
</div>