---
layout: default
---
<div id="singer-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2022 载歌在谷歌手赛决赛观众售票！</h1>
                <div><br>
                    <h3>2022载歌在谷歌手赛-"我要夏天"歌手赛决赛：</h3>
                    <p>
                        时间：2022年9月3日 周六，7:00pm - 10:00pm PST<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(18:15开始检票入场)<br>
                        地点：101 Paseo De San Antonio, San Jose, CA 95113<br>
                        备注：SJSU Hammer Theatre Center<br>
                         <a target="_blank" style="color:white; text-decoration: underline;"
                        href='https://www.google.com/maps/place/Hammer+Theatre+Center/@37.3336792,-121.8886109,17z/data=!3m2!4b1!5s0x808fccbbb9bebab1:0xaf6abb9c1fc8d3a8!4m5!3m4!1s0x808fccbbb0a2f5c5:0x26272d38a4f0d72c!8m2!3d37.333675!4d-121.8864222'>点击查看地图</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="service service-single" id="content">
            <div class="content">{{content}}</div>
        </div>
    </div>
</div>

<div class="container">
    <div id="buy-button" class="button"> <a id="eventbrite-2"
        href="http://zgzg.link/2022s-ticket-website"
        style="color:white;" target="_blank">点击购票</a>
    </div>
    <div id="eb-overlay">
        <svg id="close-overlay" onclick="overlay_off()" x="0" y="0" viewBox="0 0 24 24" xml:space="preserve">
            <path id="cross-chunky_svg__eds-icon--cross-chunky_base"
                d="M13.4 12l3.5-3.5-1.4-1.4-3.5 3.5-3.5-3.5-1.4 1.4 3.5 3.5-3.5 3.5 1.4 1.4 3.5-3.5 3.5 3.5 1.4-1.4z">
            </path>
        </svg>
        <div id="eventbrite-widget-container" style="width:100%">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script>
        function toggle_faq() {
            $("#faq").toggle();
        }

        function overlay_on() {
            window.scrollTo(0, 0);
            document.getElementById("eb-overlay").style.display = "block";
        }

        function overlay_off() {
            document.getElementById("eb-overlay").style.display = "none";
        }

        var exampleCallback = function () {
            console.log('Order complete!');
        };
        var iframeContainerHeight;
        iframeContainerHeight = window.innerHeight * 0.98;

        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '355595625087',
            iframeContainerId: 'eventbrite-widget-container',

            // Optional
            iframeContainerHeight: iframeContainerHeight,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            onOrderComplete: exampleCallback  // Method called when an order has successfully completed
        });
    </script>
</div>

{% assign sponsor_type = site.data.data-sponsor.sponsors-singer %}
{% include sponsor-template.html %}
