---
layout: default
---
<div class="hero px-0 py-10 p-md-8 p-lg-10 sponsorship-image">
    <div class="hero-content col-lg-6 col-10">
        <h1>诚邀招商：</h1>
        <p>您是否曾为没有合适的宣传渠道而苦恼？您是否希望能够与湾区的华人社区建立更深入的联系？如果您遇到了这些问题，“载歌在谷”社区可以为您提供这样的机会！“载歌在谷”一直以来都致力于为湾区华人创造更多的艺术文化交流机会，目前春节晚会和新春游园会火热筹办中。诚邀您的加入，打响您的品牌，和载歌在谷一起双赢！</p>
        <div id="hero-divider"></div>
        <p>
          <a href="https://zgzg.li/2024-sponsor" target="_blank">招商手册</a>
          &nbsp
          <a href="https://zgzg.li/2024-sponsor-benefits-form" target="_blank">赞助权益表</a>
          &nbsp
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9ZOxBTzBbDxlQ_vJ3xef5HMdoJEYAz_knFh71q0TrRUYnhQ/viewform" target="_blank">联系我们</a>
        </p>
    </div>
</div>
