---
layout: default
---
<div class="hero px-0 py-10 p-md-8 p-lg-10 sponsorship-image">
    <div class="hero-content col-lg-6 col-10">
        <h1>诚邀招商：</h1>
        <p>你是不是觉得，2020 - 2022年是隐没的两年？作为商家，你是不是苦于没有曝光，流量不足？酒香也怕巷子深。在此，“载歌在谷”携各位热情的志愿者小伙伴们，郑重推出2023载歌在谷夏季歌手赛及中秋游园会活动！正在进行时，诚邀您的参加！</p>
        <div id="hero-divider"></div>
        <p>联系我们：<a href="http://zgzg.link/sponsor-2023-summer-form">http://zgzg.link/sponsor-2023-summer-form</a></p>
    </div>
</div>

<!-- Tab links -->

<!-- Tab content -->
<div id="tour" class="tab-content">
    <div class="container py-6">
        <div class="row">
            <div class="col pb-3 text-center">
                <h1 class="underline">往年赞助 - 2023兔年春晚和游园</h1>
            </div>
        </div>
        <p class="sponsor-body">“载歌在谷”春晚是以湾区各大高科技公司员工为贡献主体举办的数千人规模春节系列活动，也是湾区规格最高，受众最广的春节晚会之一，总筹备工作超过 150 天。
        </p>
        {% assign sponsor_type = site.data.data-sponsor.sponsors %}
        {% include sponsor-template.html %}
    </div>
</div>
