---
layout: default
---
<div class="hero sponsorship-bg"></div>
  <div class="container pt-4 pb-4">
    <div class="container">
        <div class="home-section-header">
            <div class="home-section-content_top">
                <div class="row"><h2 class="header-color-darkenred pb-3 text-start">诚邀招商</h2></div>    
                <div class="row">
                    <div class="col text-start">
                        <p class="custom-text-style">您是否曾为没有合适的宣传渠道而苦恼？您是否希望能够与湾区的华人社区建立更深入的联系？</p>
                        <p class="custom-text-style"> 载歌在谷社区可以为您提供这样的机会！我们一直都致力于为湾区华人创造更多的艺术文化交流机会，目前春节晚会和新春游园会火热筹办中。诚邀您的加入，和我们一起双赢！</p>
                    </div>
                    <div class="col_2">
                      <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                          <a class="btn btn-bg-darkened btn-sm mb-1 justify-content-center btn-width-wide" href="https://drive.google.com/file/d/1ILDl6G-pliAaEjyZOcTH-abTI2qLN7WV/view?usp=sharing"> 
                            <span class="material-symbols-outlined">
                                download
                            </span>
                            <span>招商手册</span>
                          </a>
                        </div>
                      </div>
                        <a class="btn btn-secondary btn-sm mb-1" style="min-width: 120px;" href="https://drive.google.com/file/d/1UoBPz-Ft9bhqh5bxaXMZZ39Sy5IMtuKT/view?usp=sharing"> 
                            <span class="material-symbols-outlined">
                                download
                            </span>
                            <span>赞助权益</span>
                        </a>
                        <a class="btn btn-sm btn-secondary mb-1" style="min-width: 120px;" href="mailto:contact-us@zgzg.io">
                            <span class="material-symbols-outlined">
                                call
                            </span>
                            <span>联系我们</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="sponsors" class="tab-content">
  <div class="container pt-6 pb-6 pt-md-6 pb-md-6">
    <div class="row">
        <div class="col pb-3 text-center">
            <h1 class="underline">赞助商</h1>
        </div>
        
    </div>
</div> -->
