<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Interactive Map with Background Image</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <style></style>
  </head>
  <body class="container" style="margin-top:50px">
    <div id="sign-in-status"></div>
    <form id="stamp" style="display: none">
      <input type="text" id="phone" placeholder="请输入手机号" />
      <button id="stamp-button" type="submit">签到</button>
    </form>
    <div id="message"></div>
    <script>
      function setCookie(name, value) {
        console.log("Setting cookie:", name, value);
        document.cookie =
          name + "=" + value + "; expires=Tue, 19 Jan 2038 03:14:07 GMT; path=/";
      }
      function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) === " ") c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return;
        null;
      }
    </script>
    <script type="module">
      let booth = null;
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-app.js";
      import {
        getAuth,
        signInWithEmailAndPassword,
        signOut,
      } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-auth.js";
      import {
        collection,
        query,
        where,
        getDocs,
        getFirestore,
        doc,
        setDoc
      } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-firestore.js";

      const firebaseConfig = {
        apiKey: "AIzaSyA32iYcPDmH7MJLFKpadSkUuR4K3avEYeA",
        authDomain: "zgzg-9e6d0.firebaseapp.com",
        projectId: "zgzg-9e6d0",
        storageBucket: "zgzg-9e6d0.appspot.com",
        messagingSenderId: "807744488876",
        appId: "1:807744488876:web:bf6ddbfe0b5ab49f216609",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getFirestore(app);

      // Get a reference to the authentication service
      const auth = getAuth(app);

      function showSignInForm() {
        document.getElementById("sign-in-status").innerHTML = `
        <form id="signInForm">
          <input type="email" id="email" placeholder="Email" required>
          <input type="password" id="password" placeholder="Password" required>   

          <button type="submit">Sign In</button>
        </form>
      `;
        // Add event listener to the sign-in form
        document.getElementById("signInForm").addEventListener("submit", (event) => {
          event.preventDefault();
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          // Sign in with email and password
          signInWithEmailAndPassword(auth, email, password)
            .then(() => {
              // Sign-in successful
              console.log("Signed in successfully");
              $("#stamp").show();
            })
            .catch((error) => {
              // Handle sign-in errors
              console.error("Sign-in error:", error);
              $("#message").html("登录失败");
            });
        });
      }

      // Function to check sign-in status and update the UI
      function checkSignInStatus() {
        auth.onAuthStateChanged((user) => {
          if (user) {
            booth = user.email.split("@")[0];
            document.getElementById("sign-in-status").innerHTML = `
        <p style="float:left">摊位${booth}签到</p>
        <a id="signOut" style="float:right">Sign Out</button>
      `;

            $("#stamp").show();

            document.getElementById("signOut").addEventListener("click", () => {
              signOut(auth)
                .then(() => {
                  // Sign-out successful
                  console.log("Signed out successfully");
                  $("#stamp").hide();
                  showSignInForm();
                })
                .catch((error) => {
                  // Handle sign-out errors
                  console.error("Sign-out error:", error);
                });
            });
          } else {
            // User is not signed in
            showSignInForm();
          }
        });
      }

      window.onload = function () {
        checkSignInStatus();
        const currentUrl = window.location.href;
        const regex = /phone=(\d+)/;
        const match = currentUrl.match(regex);
        if (match) {
          const phone = parseInt(match[1]);
          $("#phone").val(phone);
          console.log("Phone number found:", phone);
        } else {
          console.log("Phone number not found.");
        }

        document.getElementById("stamp").addEventListener("submit", (event) => {
          event.preventDefault();
          const phone = document.getElementById("phone").value;
          const docRef = doc(db, "stamps", booth + "-" + phone);
          setDoc(docRef, { booth, phone })
            .then(() => {
              console.log("Document added successfully!");
              $("#message").html("签到" + phone + "成功");
            })
            .catch((error) => {
              console.error("Error adding document: ", error);
              $("#message").html("签到失败");
            });
        });
      };
    </script>
  </body>
</html>
