---
layout: default
---

<button type="button" class="btn btn-primary btn-lg">Large 载歌在谷</button>
<button type="button" class="btn btn-secondary btn-lg">Large 载歌在谷</button>
<button type="button" class="btn btn-tertiary btn-lg">Large 载歌在谷</button>

<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary btn-sm">Small button</button>
<button type="button" class="btn btn-tertiary btn-sm">Small button</button>

<button type="button" class="btn btn-primary btn-lg" disabled>Primary disable</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Secondary disable</button>
<button type="button" class="btn btn-tertiary btn-lg" disabled>Tertiary disable</button>

<button type="button" class="btn btn-light btn-primary btn-lg">Light button</button>
<button type="button" class="btn btn-light btn-primary btn-lg" disabled>Light disable</button>


<div class="hero hero-long">
    <div class="hero-content">
        <h1>
            关于我们
        </h1>
        <h2>
            “载歌在谷”社区是一个以硅谷高科技华人从业者为主要贡献者的非营利组织。<br>
            “载歌在谷“社区旨在丰富硅谷华人的文化生活，弘扬中华文化。社区以文艺活动为主要载体，如“载歌在谷”春节晚会。
        </h2>
        <button class="btn btn-primary btn-lg">加入我们</button>
    </div>
</div>

<br>
<br>


<div class="hero p-4 p-md-8 p-lg-10">
    <div class="hero-content">
        <h1>
            关于我们 (text only)
        </h1>
        <h2>
            “载歌在谷”社区是一个以硅谷高科技华人从业者为主要贡献者的非营利组织。 “载歌在谷“社区旨在丰富硅谷华人的文化生活，弘扬中华文化。社区以文艺活动为主要载体，如“载歌在谷”春节晚会。
        </h2>
    </div>
</div>

<br>
<br>

<div class="hero p-4 p-md-8 p-lg-10">
    <div class="hero-content">
        <h1>
            关于我们 (with line)
        </h1>
        <h2>
            “载歌在谷”社区是一个以硅谷高科技华人从业者为主要贡献者的非营利组织。 “载歌在谷“社区旨在丰富硅谷华人的文化生活，弘扬中华文化。社区以文艺活动为主要载体，如“载歌在谷”春节晚会。
        </h2>
        <div id="hero-divider"></div>
        <h3>zgzg@zgzg.io</h3>
    </div>
</div>

<br>
<br>
