---
layout: test
---

<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>
<button type="button" class="btn btn-tertiary btn-lg">Large button</button>

<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary btn-sm">Small button</button>
<button type="button" class="btn btn-tertiary btn-sm">Small button</button>

<button type="button" class="btn btn-primary btn-lg" disabled>Primary disable</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Secondary disable</button>
<button type="button" class="btn btn-tertiary btn-lg" disabled>Tertiary disable</button>

<button type="button" class="btn btn-light btn-primary btn-lg">Light button</button>
<button type="button" class="btn btn-light btn-primary btn-lg" disabled>Light disable</button>

