---
layout: default
---
<div id="ticket-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center">
                <h1>2022载歌在谷春晚观众售票！</h1>
                <h3>春节晚会：</h3><p>
                    时间：2022年1月15日周六，7pm PST (暂定)<br>
                    地点：SJCPA，255 S Almaden Blvd, San Jose, CA 95113 <br>
                </p>
                <h3>游园会:</h3><p>
                    时间：2022年1月15日周六，1pm – 4pm PST (暂定)<br>
                    地点：SJCPA 门前广场，255 S Almaden Blvd, San Jose, CA 95113</p>
                <p> 售票将于 2022/12/15 8PM PST正式开始！<br>
                    欢迎加入载歌在谷观众群，一起聊春晚、看春晚<br>
                    加入方法：扫描下方二维码加我们的志愿者微信，备注“观众群”</p>
                    <img src="https://res.cloudinary.com/zaigezaigu/image/upload/c_scale,w_120/v1637295715/zgzg-io-website/qr_ihygfn.png">
                    <p><a class="primary-text button" href="/gala"><b>更多春晚和游园信息</b></a></p>

            </div>
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-end">
            </div>
        </div>
    </div>
</div>
