---
layout: default
---
<div id="ticket-banner" class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-6 col-md-6 col-lg-6 align-self-center" id="ticket-content">
            <h1>2022春晚观众票务</h1>
            <p><i>售票将于 2022/12/15 8PM PST正式开始 !</i><p>
            <p> 欢迎加入载歌在谷观众群 一起聊春晚 看春晚 加入方法 扫描下方二维码加我们的志愿者微信 备注“观众群” </p>
            <p><b>联系志愿者加入观众群</b>:<p>
            <img id="ticket-img" src="https://res.cloudinary.com/zaigezaigu/image/upload/c_scale,w_120/v1637295715/zgzg-io-website/qr_ihygfn.png"><br><br>
            <p><b>春节晚会</b>：<br>
            时间：2022年1月15日周六，7pm PST<br>
            地点：SJCPA，255 S Almaden Blvd, San Jose, CA 95113 <br>
            </p>
            <p><b>游园会</b>:<br>
            时间：2022年1月15日周六，1pm – 4pm PST<br>
            地点：SJCPA 门前广场，255 S Almaden Blvd, San Jose, CA 95113</p>
            </div>
        </div>
    </div>
</div>

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="service service-single" id="content">
      <div class="content">{{content}}</div>
    </div>
</div>