---
layout: default
---
<div class="hero gala-bg"></div>
    <div class="container pt-4 pb-4">
        <div class="container">
            <div class="home-section-header">
                <div class="home-section-content_top">  
                    <div class="row">
                        <div class="col text-start">
                            <p class="custom-text-style"> <b>Time: </b> 02/01/2025</p>
                            <p class="custom-text-style"> <b>Location: </b> Foothill College Smithwick Theater</p>
                            <p class="custom-text-style"> <b>Address: </b> 12345 El Monte Rd, Los Altos Hills, CA 94022</p>
                            <p class="custom-text-style"> <b>Ticketing FAQ: </b> <a href="https://zgzg.io/gala#buy-ticket">中文</a>&nbsp;/&nbsp;<a href="https://www.zgzg.io/english#buy-ticket">English</a></p>
                        </div>
                        <div class="col_2">
                            <a class="btn btn-sm btn-bg-darkened mb-1" style="min-width: 120px;" href="{{site.data.data.eventbrite_ticket_link}}">
                                <span class="material-symbols-outlined">
                                    confirmation_number
                                </span>
                                <span>Eventbrite</span>
                            </a>
                            <a class="btn btn-sm btn-bg-darkened mb-1" style="min-width: 120px;" href="{{site.data.data.taro_ticket_link}}">
                                <span class="material-symbols-outlined">
                                    confirmation_number
                                </span>
                                <span>Taro</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>