---
layout: default
---
<div id="tour-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2022 载歌在谷中秋游园</h1>
                <div><br>
                    <p>
                        时间：2022年9月10日周日，09AM - 5PM PDT <br>
                        地点：Discovery Meadow Park, 180 Woz Way, San Jose, CA 95110 <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 id="weee" class=" mt-3 mb-4">春游赞助商</h1>
</div>
{% include sponsor-singer.html %}
