---
layout: default
---
<div id="tour-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2022 载歌在谷中秋游园</h1>
                <div><br>
                    <p>
                        时间：2022年9月10日周日，1PM - 5PM PDT <br>
                        地点：Discovery Meadow Park, 180 Woz Way, San Jose, CA 95110 <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin:20px auto;" > 
    <div style="width:700px"> <img  src="https://res.cloudinary.com/zaigezaigu/image/upload/v1661719547/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/IMG-6515_bhkwfd.jpg" />
   </div> 
</div>
{% include sponsor-singer-all.html %}
