---
layout: default
---
<div id="tour-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>2022 载歌在谷春节游园会！</h1>
                <div><br>
                    <h3>游园会：</h3>
                    <p>
                        时间：2022年1月15日周六，1pm - 4pm PST<br>
                        地点：SJCPA，255 S Almaden Blvd, San Jose, CA<br>
                        备注：春晚剧场SJCPA门前广场
                    </p>
                </div>
                <a class="button home-button primary-text" id="tour-button" target="_blank" href="https://www.eventbrite.com/e/2022-zaigezaigu-chinese-culture-fair-tickets-241557273307">免费注册</a>
            </div>
        </div>
    </div>
</div>

<div id="cloth-div">
    <h1 class=" mt-3 mb-4">2022 华夏有衣</h1>
    <iframe src="https://drive.google.com/file/d/1fmnbGRcc-1E0P-WT1TUwukq-pcgGEurK/preview" width="900" height="650" allow="autoplay"></iframe>
</div>

<div id="tour-div">
    <h1 class=" mt-3 mb-4">2022 游园地图</h1>
    <img id="tour-map" src="https://res.cloudinary.com/zaigezaigu/image/upload/v1641783398/zgzg-io-website/2022%E6%98%A5%E6%99%9A%E6%8B%8D%E6%91%84%E8%8A%B1%E7%B5%AE/map_vt97qn.png">
</div>

<div class="container">
    <h1 class=" mt-3 mb-4">往年照片</h1>
    <div class="row">
            {% for tour in site.data.data.tours %}
            <div class="col-6 col-lg-4 col-md-4">

            <div class="card">
                    <div><img class="card-img-top" style="aspect-ratio: 1; object-fit: cover" src="{{ tour.image }}"></div>
                    <div class="card-body">

                    <div class="card-title">{{ tour.type }} {{ tour.name }}</div>

                    <div class="card-subtitle"></div></div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>

{% include sponsor-section.html %}
