---
layout: default
---
<div id="ybyf-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-6 align-self-center">
                <h1>载歌在谷 * 云集 * 一饱演福</h1>
                <div><br>
                    <p style="color:white">戏剧表演爱好者相互交流，共同创作，共同成长的平台。<br>
                    我们会定期举行线上/线下话剧 or 表演相关的活动。<br><br>
                    Contact: zeez@zgzg.io<p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include ybyf-past.html %}
